<template>
    <div id="firstSection_about">
        <div id="container_about">
            <div id="navbar">
                <logo></logo>
                <navbar></navbar>
            </div>
        </div>
        <div id="main-container_about">
            <h1 class="title">
                About Us
            </h1>
            <div id="aboutText">
                We are digital agency with over <span class="redT">16 years of experience</span> with a strong focus on Ecommerce.
                Located in Klaipėda and Vilnius we provide services to some of the largest retailers <span class="redT">in Scandinavia.</span>
            </div>
        </div>
        <div id="secondSection_about">
            <h2 class="title">
                We are a good place to work
            </h2>
            <div id="advantages">
                <div class="advantage">
                    <h4>Strong team</h4>
                    <p class="info">At Emotion, we take pride in the fact that we accomplish as a team, we rely on our distinct talents to achieve common goals.</p>
                </div>
                <div class="advantage">
                    <h4>Learning Organization</h4>
                    <p class="info">Ongoing professional development is one of our key values. Every week we challenge each other to learn something new from each other.</p>
                </div>
                <div class="advantage">
                    <h4>Strong focus</h4>
                    <p class="info">Over the years we have fostered our expertise in e-commerce and various aspects of online business. We're good at it. Thus we take on challenges that other don't dare.</p>
                </div>
                <div class="advantage">
                    <h4>Large projects</h4>
                    <p class="info">We see a large picture. We see how one aspect of your online business affects the other and what needs to be done to achieve nirvana.</p>
                </div>
                <div class="advantage">
                    <h4>International</h4>
                    <p class="info">The vast majority of our clients reside outside the country we are located, but we are milliseconds away thanks to Slack and Google Hangouts.</p>
                </div>
            </div>
        </div>
        <div id="projectsSection">
            <h2 class="title">
                Our projects and technologies
            </h2>
            <div class="aboutPText">
                Equipped with years of experience and interdisciplinary approach our team will thrive in the following technology: Magento, Symfony, Laravel, Akeneo, AWS, Docker, ELK stack, Vue.js.
            </div>
            <div id="counts">
                <div class="single-count">
                    <h3><span class="counter">15 </span> years</h3>
                    <h3>OF EXPERIENCE</h3>
                   <hr>
                    <p class="info">We have witnessed the fall of print and the rise of digital. We have seen mobile devices go from 1% of total website traffic to 65%.</p>
                </div>
                <div class="single-count">
                    <h3><span class="counter"> > 18M</span></h3>
                    <h3>USERS</h3>
                    <hr>
                    <p class="info">18M is the number of visits that 2 of the largest clients combined had last year.</p>
                </div>
                <div class="single-count">
                    <h3><span class="counter">575 000</span></h3>
                    <h3>CARDS</h3>
                    <hr>
                    <p class="info">A Fintech solution we developed has serviced 575000 cards since its inception.</p>
                </div>
            </div>
            <div class="aboutPText">
                Our HR department finds top talent to fill a wide range of positions in the various projects we share with our partners.
            </div>
            <div id="iconContainer">
                <div class="icon">
                    <img src="../../assets/img/zend.svg" alt="zend-certified">
                </div>
                <div class="icon">
                    <img src="../../assets/img/comptia.svg" alt="comptia-specialist">
                </div>
                <div class="icon">
                    <img src="../../assets/img/magento.svg" alt="magento-certified">
                </div>
                <div class="icon">
                    <img src="../../assets/img/csm.svg" alt="csm-certified">
                </div>
            </div>
        </div>
        <div id="officesSection">
            <h2 class="title">
                Our offices
            </h2>
            <div id="officesCont">
                <div class="officeImg">
                    <router-link to="/contactUs" ref="Klpd">
                        <img class="" src="../../assets/img/inKlaipeda.png" alt="Klaipeda">
                        <p class="officeImg-title">in Klaipėda</p>
                    </router-link>
                </div>
                <div class="officeImg">
                    <router-link to="/contactUs" ref="Vln">
                        <img class="" src="../../assets/img/inVilnius.png" alt="Vilnius">
                        <p class="officeImg-title">in Vilnius</p>
                    </router-link>
                </div>
            </div>
        </div>
        <div id="hiringSection">
            <div id="hiringText">
                <router-link to="/career"><span class="redT">We are hiring!</span></router-link> We are always looking for talents to join our team!
                <router-link to="/career"><span class="redT">See open positions.</span></router-link> Or get notified when new position opens by entering email below.
            </div>
            <subscribe-form class="subscribe"></subscribe-form>
        </div>
     <contacts></contacts>
    </div>

</template>

<script>
    import Logo from '@/components/Reusable/Logo.vue'
    import navbar from '@/components/Reusable/navbar.vue'
    import contacts from "@/components/contacts"
    import subscribeForm from '@/components/Reusable/subscribeForm.vue'
    import "@/css/base.scss"
    import '@/css/aboutUs.scss'

    export default {
        name: 'aboutPage',
        components: {
            Logo,
            navbar,
            contacts,
            subscribeForm
        }
    }
</script>
