<template>
    <div>
        <career-empty v-if="empty"></career-empty>
        <career-full v-else></career-full>
    </div>

</template>

<script>
    import careerEmpty from '@/components/careerEmpty.vue'
    import careerFull from '@/components/careerFull.vue'

    export default {
        name: 'career',
        components: {
            careerEmpty,
            careerFull
        },

        data: function () {
            var isEmpty = this.$careerEmpty;

            return {
                empty: isEmpty
            }
        }
    }
</script>
