<template>
    <div style="width:100%">
        <div id="firstSection_contact">
            <div id="container_contact">
                <div id="mcontainer_contact">
                    <div id="navbar">
                        <logo></logo>
                        <navbar></navbar>
                    </div>
                    <div id="main-container_contact">
                        <h1 class="title">
                            Contacts
                        </h1>
                        <h2 id="aboutText_contact">
                            Physically located in Klaipėda and Vilnius we provide services to some of the largest retailers.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="mapContainer">
            <Map class="travel-map" ref="gmap"></Map>
            <div class="buttonContainer">
                <button class="mapButton leftButton" :class="[isSelectedLeft ? 'white' : 'transparent']" @click="mapSelection(index)">KLAIPĖDA</button>
                <button class="mapButton rightButton" :class="[isSelectedRight ? 'white' : 'transparent']" @click="mapSelection(index)">VILNIUS</button>
            </div>
            <div id="location">
                <!-- <img class="pointer" src="../../assets/img/pointerIcon.svg" alt="pointer">-->
                <h4 class="city">{{ cities[currentCity].name }}</h4>
                <ul>
                    <li v-for="(value) in cities[currentCity].address" :key="value">
                        <p class="address"> {{ value }}</p>
                    </li>
                </ul>
            </div>
        </div>
            <div id="contact">
                <h4 class="information">Company information</h4>
                <p class="requisites">UAB "Digitronas"</p>
                <p class="requisites">Company code 303492862</p>
                <p class="requisites">VAT No. LT100009884912</p>
           </div>
            <contacts></contacts>
    </div>



</template>

<script>
    import Logo from '@/components/Reusable/Logo.vue'
    import navbar from '@/components/Reusable/navbar.vue'
    import contacts from '@/components/contacts.vue'
    import Map from "@/components/Google/Map.vue"
    import "@/css/base.scss"
    import '@/css/contactUs.scss'

    export default {
        name: "contactUsPage",
        components: {
            Logo,
            navbar,
            contacts,
            Map
        },
        data: function() {
            return {
                isSelectedLeft: true,
                isSelectedRight: false,
                cities: [
                    {name:'Klaipėda',
                     address:['Vilhelmo Berbomo str. 10-217,', 'LT-92221, Klaipėda.', 'Phone: +370 618 66230 Raimondas,', 'klaipeda@emotion.lt']
                    },
                    {name:'Vilnius',
                        address:['Kalvarijų str. 137E-109,', 'LT-08221, Vilnius.', 'Phone: +370 672 37893 Indrė,', 'vilnius@emotion.lt']
                    }
                ],
                currentCity:0,
                index:0
            }
        },
        methods: {
            mapSelection(index) {
                this.index = index;
                let leftButton = document.querySelector('.leftButton');
                let rightButton = document.querySelector('.rightButton');
                leftButton.disabled = true;
                rightButton.disabled = false;

                if (this.isSelectedLeft === true) {
                    this.isSelectedLeft = false;
                    this.isSelectedRight = true;
                    rightButton.disabled = true;
                    leftButton.disabled = false;
                    this.index = 1;
                    this.$refs.gmap.update(index);
                } else {
                    this.isSelectedLeft = true;
                    this.isSelectedRight = false;
                    rightButton.disabled = false;
                    leftButton.disabled = true;
                    this.index = 0;
                    this.$refs.gmap.update(index);
                }
                 if (this.currentCity+1 <this.cities.length) {
                     this.currentCity++;
                 } else {
                  this.currentCity--;
                 }
            }
        },

    }
</script>

<style >

</style>