<template>
    <div>
        <div id="firstSection" @scroll="handleScroll">
            <div id="container">
                <div id="logo"></div>
                <div id="mcontainer">
                    <div id="navbar">
                        <logo></logo>
                        <navbar></navbar>
                    </div>
                    <div id="main-container">
                        <div class="subtitle">
                            WE BUILD
                        </div>
                        <div class="title">
                            digital empires
                        </div>
                    </div>
                    <div id="bottom">
                        <social-icons></social-icons>
                        <img id="scroll" src="../../assets/img/scroll.svg" alt="scroll-down">
                        <div id="scroll-down"></div>
                        <div id="contacts">
                            <div class="contact-container">
                                <p id="email">
                                    <a href="mailto:hello@emotion.lt">hello@emotion.lt</a>
                                </p>
                                <img class="line horizontal" src="../../assets/img/horizontalLine.svg" alt="horizontal_line">
                                <img class="line vertical" src="../../assets/img/verticalLine.svg" alt="vertical_line">
                                <p id="number">
                                    +37067237893
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="aboutSec" class="about-section">
                <h1 id="aboutText">
                    We are a digital agency with over <span class="redT">16 years of experience</span> with a strong focus on e- commerce.
                    Physically located in Klaipėda and Vilnius we provide services to some of the largest retailers <span class="redT">in Scandinavia.</span>
                </h1>
            </div>
        </div>
        <main id="secondSection">
            <div class="relative">
                <div id="logo2"></div>
                <div class="expertise-wrapper">
                    <div id="sticky-wrapper">
                        <div id="sticky" :class="{ fixed: isFixed }">
                            <h3 class="h3">Expertise in:</h3>
                        </div>
                    </div>
                    <div class="expertise-body">
                        <div class="expertise-element">
                            <div class="element-title">
                                <img src="../../assets/img/pim.svg" alt="pim">
                                <span>PIM</span>
                            </div>
                            <p>Emotion offers PIM solutions tailored to fit your company’s needs. Our team is ready to
                              help you build a PIM system that matches your company's product structure, existing
                              external channels. We will provide you with PIM consulting on how to employ PIM best
                              practices. We are experts in what we do, therefore we can create solutions fine-tuned to
                              your needs.</p>
                        </div>
                        <div class="expertise-element">
                            <div class="element-title">
                                <img src="../../assets/img/ecommerce.svg" alt="ecommerce">
                                <span>Ecommerce</span>
                            </div>
                            <p>We have been working with various e-commerce platforms for more than 16 years,
                              therefore adapting to our customer needs is a challenge we take on with open arms.
                              We have a great deal of experience working with the Magento platform.</p>
                        </div>
                        <div class="expertise-element last-element">
                            <div class="element-title">
                                <img src="../../assets/img/integrations.svg" alt="integrations">
                                <span>Integrations</span>
                            </div>
                            <p>Our team has experience integrating a wide variety of systems to ensure a seamless and
                              orderly business process online. Our goal is your company's efficiency, productivity, and
                              agility through connected applications. We base our work on the rock-solid foundation of
                              Enterprise Integration Patterns thus there is no scenario that we could not handle.</p>
                        </div>
                        <div id="last"></div>
                    </div>
                </div>
                <h2 class="title">Our hands on...</h2>
            </div>
            <div id="picsContainer">
                <div class="row" v-if="showLess">
                    <template v-for="article in articles.slice(0, 4)">
                        <div class="picsContainer-image" :key="article.title">
                            <img class="" :src="article.image" :alt="article.alt">
                            <div class="picsContainer-text">
                                {{ article.title }}
                            </div>
                        </div>
                    </template>
                </div>
                <div class="row" v-else>
                    <template v-for="article in articles">
                        <div class="picsContainer-image" :key="article.title">
                            <img class="" :src="article.image" :alt="article.alt">
                            <div class="picsContainer-text">
                                {{ article.title }}
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <button class="whiteButton" @click="loadMore" v-if="!full">LOAD MORE</button>
            <div id="thirdSection">
                <h2 class="title">Technological Stack</h2>
                <div id="icoContainer">
                    <div class="rowIcons">
                        <div class="icon">
                            <img src="../../assets/img/magentoLogo.svg" alt="magento-icon">
                        </div>
                        <div class="icon">
                            <img src="../../assets/img/akeneoLogo.svg" alt="akeneo-icon">
                        </div>
                        <div class="icon">
                            <img src="../../assets/img/symfonyLogo.svg" alt="symfony-icon">
                        </div>
                        <div class="icon">
                            <img class="mark" src="../../assets/img/laravelLogo2.svg" alt="laravel-icon">
                            <img src="../../assets/img/laravelLogo.svg" alt="laravel-name">
                        </div>
                        <div class="icon">
                            <img src="../../assets/img/awsLogo.svg" alt="aws-icon">
                        </div>
                        <div class="icon">
                            <img src="../../assets/img/elasticLogo.svg" alt="elastic-icon">
                        </div>
                        <div class="icon">
                            <img src="../../assets/img/dockerLogo.svg" alt="docker-icon">
                        </div>
                        <div class="icon">
                            <img src="../../assets/img/atlassianLogo.svg" alt="atlassian-icon">
                        </div>
                    </div>
                </div>
                <!--  <button class="whiteButton">FIND OUT MORE</button>-->
            </div>
        </main>
        <div id="hiringSection">
            <h3 id="hiringText">
                <router-link to="/career"><span class="redT">We are hiring!</span></router-link> We are always looking for talents to join our team!
                <router-link to="/career"><span class="redT">See open positions.</span></router-link> Or get notified when new position opens by entering email below.
            </h3>
            <subscribe-form class="subscribe"></subscribe-form>
        </div>
        <contacts></contacts>
    </div>
</template>

<script>    import Logo from '@/components/Reusable/Logo.vue'
import navbar from '@/components/Reusable/navbar.vue'
import contacts from '@/components/contacts.vue'
import socialIcons from '@/components/Reusable/socialIcons.vue'
import subscribeForm from '@/components/Reusable/subscribeForm.vue'
import "@/css/base.scss"
import '@/css/firstPage.scss'

export default {
    name: 'firstPage',
    components: {
        Logo,
        navbar,
        contacts,
        socialIcons,
        subscribeForm
    },
    data: function () {
        return {
            articles: [
                {   image: require('../../assets/img/pic1.png'),
                    alt: 'Pushing the limit of Amazon\'s SQS with a Serverless Application built on Laravel Vapor.',
                    title: 'Pushing the limit of Amazon\'s SQS with a Serverless Application built on Laravel Vapor.'
                },
                {
                    image: require('../../assets/img/pic2.png'),
                    alt: 'Experimenting with Laravel Nova for a custom CMS + API implementation.',
                    title: 'Experimenting with Laravel Nova for a custom CMS + API implementation.'
                },
                {
                    image: require('../../assets/img/pic3.png'),
                    alt:'Implementing an Akeneo Customization to power Product color recognition using Google Vision API.',
                    title: 'Implementing an Akeneo Customization to power Product color recognition using Google Vision API.'
                },
                {
                    image: require('../../assets/img/pic4.png'),
                    alt: 'Lauching a webhook based integration for multiple channels on Akeneo Enterprise.',
                    title: 'Lauching a webhook based integration for multiple channels on Akeneo Enterprise.'
                },
                {
                    image: require('../../assets/img/pic5.png'),
                    alt: 'Constructing a custom APM solution with ELK stack.',
                    title: 'Constructing a custom APM solution with ELK stack.'
                },
                {
                    image: require('../../assets/img/pic6.png'),
                    alt: 'Constructing an API Gateway with Amazon\'s Lambda functions.',
                    title: 'Constructing an API Gateway with Amazon\'s Lambda functions.'
                },
                {
                    image: require('../../assets/img/pic7.png'),
                    alt:'Integrating federated authorization with Amazon Cognito.',
                    title: 'Integrating federated authorization with Amazon Cognito.'
                },
            ],
            showLess: true,
            full: false,
            isFixed: false,
            window: {
                width: 0,
            }
        }
    },
    mounted() {
        window.addEventListener('scroll', this.handleScroll);
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    },

    beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll);
        window.removeEventListener('resize', this.handleResize);
    },

    methods: {
        handleResize() {
            this.window.width = window.innerWidth;
            this.height = document.documentElement. clientHeight;
        },
        handleScroll() {
            //first element effect
            const logo = document.getElementById("logo");

            window.requestAnimationFrame(function() {
                const speed = window.scrollY;

                logo.setAttribute(
                    'style',
                    'transform:translate3d(0,' + speed * 0.3 + 'px, 0);'
                )
            });

            // sticky title effect
            const getOffsetTop = element => {
                let offsetTop = 0;
                while (element) {
                    offsetTop += element.offsetTop;
                    element = element.offsetParent;
                }
                return offsetTop;
            };

            const someElement = document.getElementById('sticky-wrapper');
            const someElement2 = document.getElementById('last');
            const X = getOffsetTop(someElement);
            const Z = getOffsetTop(someElement2);
            const Y = window.scrollY;

            this.isFixed = Y >= X;

            if (Y >= (Z - 180)) {
                this.isFixed = false
            }

            //second element effect
            const someElement3 = document.getElementById('secondSection');
            const A = getOffsetTop(someElement3);
            let max;

            if (this.window.width >= 1250) {
                max = 0.25;
            } else if (this.window.width > 900) {
                max = 0.2;
            } else if (this.window.width < 900) {
                max = 0.14;
            }

            if (Y >= A) {
                const logo2 = document.getElementById("logo2");

                window.requestAnimationFrame(function () {
                    const speed2 = (window.scrollY - A);

                    logo2.setAttribute(
                        'style',
                        'transform:translate3d(0,' + speed2 * (-max) + 'px, 0);'
                    )
                });
            }
        },
        loadMore() {
            this.showLess = false;
            this.full = true;
        },
    }
}

</script>

