<template>
    <div>
        <div id="firstSection_privacy">
            <div id="container_privacy">
                <div id="mcontainer_privacy">
                    <div id="navbar">
                        <logo></logo>
                        <navbar></navbar>
                    </div>
                    <div id="main-container_privacy">
                        <h1 class="title">
                            Privacy policy
                        </h1>
                    </div>
                </div>
            </div>
                <div id="privacyText-container">
                    <p class="privacyText">Updated: 28-10-2019</p>
                    <p class="privacyText">This privacy notice applies solely to information collected by this website, except where stated otherwise. It will notify you of the following:</p>
                    <ul class="privacyList">
                        <li>What information we collect</li>
                        <li>With whom it is shared</li>
                        <li>How it can be corrected</li>
                        <li>How it is secured</li>
                    </ul>
                    <p class="privacyText"><strong>Information Collection, Use and Sharing</strong></p>
                    <p class="privacyText">We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily
                        give us via email, via the contact forms on this site, or other direct contact from you. We will not sell or rent this information to anyone.</p>
                    <p class="privacyText">We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any
                        third party outside of our organization.</p>
                    <p class="privacyText">If you contact us via one of the contact forms on our website, we may contact you via email in the future to tell you about announcements,
                        new products or services, or changes to this privacy policy.</p>
                    <p class="privacyText"><strong>Your Access to and Control Over Information</strong></p>
                    <p class="privacyText">You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address
                        or phone number provided on our website:</p>
                    <ul class="privacyList">
                        <li>See what data we have about you, if any.</li>
                        <li>Change/correct any data we have about you.</li>
                        <li>Have us delete any data we have about you.</li>
                        <li>Express any concern you have about our use of your data.</li>
                    </ul>
                    <p class="privacyText"><strong>Security</strong></p>
                    <p class="privacyText">We take precautions to protect your information. When you submit sensitive information via the website, your information is protected
                        both online and offline.</p>
                    <p class="privacyText">Wherever we collect sensitive information (such as your email address), that information is encrypted and transmitted to us in a secure
                        way. You can verify this by looking for a closed lock at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>
                    <p class="privacyText">While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees
                        who need the information to perform a specific job (e.g. billing or customer service) are granted access to personally identifiable information. The
                        computers/servers on which we store personally identifiable information are kept in a secure environment.</p>
                    <p class="privacyText"><strong>Cookies</strong></p>
                    <p class="privacyText">We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our
                        site and identify repeat visitors to our site. Cookies enable us to track and target the interests of our users to enhance their experience on our site.
                        Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>
                    <p class="privacyText"><strong>Cookie Consent</strong></p>
                    <p class="privacyText">If you wish not have any information tracked, you may disable cookies using your browser's Settings menu.</p>
                    <p class="privacyText"><strong>Notifications of Changes</strong></p>
                    <p class="privacyText">Whenever material changes are made to the privacy notice they will be reflected on this page. Please refer to the effective date listed
                        at the top of this document.</p>
                    <p class="privacyText"><strong>Other Provisions</strong></p>
                    <p class="privacyText">If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone +370 618 66230,
                        or via email klaipeda@emotion.lt</p>
                </div>
            <contacts></contacts>
        </div>

    </div>
</template>

<script>
    import Logo from '@/components/Reusable/Logo.vue'
    import navbar from '@/components/Reusable/navbar.vue'
    import contacts from '@/components/contacts.vue'
    import "@/css/base.scss";

    export default {
        name: "privacyPolicy.vue",
        components: {
            Logo,
            navbar,
            contacts
        },
    }
</script>

<style lang="scss">
    @import '../../css/variables';
    @import '../../css/mediaQueries';

    #firstSection_privacy {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: linear-gradient(142deg, $second-color, $primary-color 45%), $fourth-color;
    }

    #container_privacy {
        height: 100vh;
        overflow: hidden;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #mcontainer_privacy {
        position: absolute;
        height: 100vh;
        padding: 5.933vh 9%;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #main-container_privacy {
        width: 85%;
        margin: 0 auto;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
    }

    #privacyText-container{
        width:70%;
        margin:0 auto 100px auto;
        @include max-screen ($phone) {
            width:80%;
        }
    }

    .privacy {
        font-size:16px;
        margin-bottom:20px;
        text-align:justify;
    }

    .privacyText {
        @extend .privacy;
        @include max-screen ($phone) {
            font-size:14px;
        }
        strong {
            color:#ffffff;
        }
    }

     .privacyList {
         @extend .privacy;
         padding:0 50px;
         list-style:disc inside;
         @include max-screen ($phone) {
             font-size:14px;
             padding:0 25px;
         }
     }

</style>