<template>
    <div>
        <ValidationObserver ref="form" v-slot="{ passes }">
            <form id="cvFormFull" @submit.prevent="passes(Submit)" class="form">
                <div class="cvRow">
                    <ValidationProvider name="Name" rules="required" v-slot="{ errors }" class="group">
                        <input id="cvName" type="text" name="name" v-model="form.name" placeholder=" ">
                        <span class="highlight"></span>
                        <label for="cvName">Your Name</label>
                        <span class="error">{{ errors[0] }}</span>
                    </validationProvider>
                    <ValidationProvider name="Last name" rules="required" v-slot="{ errors }" class="group">
                        <input id=cvLastName type="text" name="lastName" v-model="form.lastname" placeholder=" ">
                        <span class="highlight"></span>
                        <label for="cvLastName">Your Last Name</label>
                        <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <div class="cvRow">
                    <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }" class="group">
                        <input id=cvEmail type="email" name="email" v-model="form.email" placeholder=" ">
                        <span class="highlight"></span>
                        <label for="cvEmail">Your E-mail</label>
                        <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                    <ValidationProvider name="Phone" rules="required|numeric" v-slot="{ errors }" class="group">
                        <input id=cvPhone type="tel" name="phone" v-model="form.phone" placeholder=" ">
                        <span class="highlight"></span>
                        <label for="cvPhone">Your Phone number</label>
                        <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <div class="cvRow">
                    <div class="group-long">
                        <input id="cvMessage" type="text" name="message" v-model="form.message" placeholder=" ">
                        <span class="highlight"></span>
                        <label for="cvMessage">Message</label>
                    </div>
                </div>
                <div class="cvRow">
                        <div class="drop-files">
                            <drag-drop ref="dragdrop"></drag-drop>
                        </div>
                </div>
                <div class="cvRow">
                    <input id="cvSubmit" type="submit" value="SEND">
                    <span class="sending" v-show="sending">Sending...</span>
                </div>

            </form>
        </ValidationObserver>
    </div>

</template>

<script>
    import { ValidationObserver, ValidationProvider } from "vee-validate";
    import dragDrop from "@/components/Reusable/dragDrop";
    import "@/css/forms.scss";
    import { extend } from "vee-validate";
    import { required, email, numeric } from "vee-validate/dist/rules";
    import * as axios from 'axios';

    extend('required', {
        ...required,
        message: '{_field_} is required'});
    extend("email", {
        ...email,
        message: 'E-mail is not in correct format'});
    extend("numeric", {
        ...numeric,
        message: 'Phone may only contain numeric characters'});


    export default {
        name: 'cvForm',
        components: {
            ValidationObserver,
            ValidationProvider,
            dragDrop
        },
        data() {
            return {
                sending: false,
                form: {
                    name: '',
                    lastname:'',
                    email: '',
                    message: '',
                    phone:'',
                },
            }
        },
        methods: {
            async Submit(){
                this.sending = true;

                try {
                    await this.send();
                } catch (e) {
                    console.error(e);
                }

                this.sending = false;

                const cvsubmit = document.getElementById("cvSubmit");

                cvsubmit.value = 'YOUR CV IS SENT SUCCESSFULLY';
                cvsubmit.setAttribute('style', 'cursor:not-allowed; background-color:#FC2E6A; border-color:#FC2E6A; color:#ffffff;');
                cvsubmit.disabled = true;

                this.form.name = '';
                this.form.lastname = '';
                this.form.email = '';
                this.form.phone = '';
                this.form.message = '';

                this.$refs.form.reset();
                this.$refs.dragdrop.reset();
            },
           send() {
                return axios({
                    method: 'POST',
                    url: 'https://us-central1-emotion-lt-functions.cloudfunctions.net/newTalentFull',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: {
                        firstname: this.form.name,
                        lastname: this.form.lastname,
                        email: this.form.email,
                        phone: this.form.phone,
                        message: this.form.message,
                        files: this.$refs.dragdrop.uploadedFiles
                    }
                });
            }
        }
    }
</script>

