<template>
    <div>
        <ValidationObserver ref="form" v-slot="{ passes }">
        <form id="cvForm" @submit.prevent="passes(submit)" class="form">
            <div class="cvRow">
                <ValidationProvider name="Name" rules="required" v-slot="{ errors }" class="group">
                    <input id="cvName" type="text" name="name" v-model="form.name" placeholder=" " >
                    <span class="highlight"></span>
                    <label for="cvName">Your Name</label>
                    <span class="error">{{ errors[0] }}</span>
                </validationProvider>
                <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }" class="group" >
                    <input id=cvEmail type="email" name="email" v-model="form.email" placeholder=" ">
                    <span class="highlight"></span>
                    <label for="cvEmail">E-mail</label>
                    <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>
            <div class="cvRow">
                <div class="group-long">
                    <input id="cvMessage" type="text" name="message" v-model="form.message" placeholder=" ">
                    <span class="highlight"></span>
                    <label for="cvMessage">Message</label>
                </div>
            </div>
            <div class="cvRow">
                <div class="drop-files">
                    <drag-drop ref="dragdrop"></drag-drop>
                </div>
            </div>
            <div class="cvRow">
                <input id="cvSubmit" type="submit" value="SEND">
                <span class="sending" v-show="sending">Sending...</span>
            </div>
        </form>
        </ValidationObserver>
    </div>

</template>

<script>
    import { ValidationObserver, ValidationProvider } from "vee-validate";
    import dragDrop from "@/components/Reusable/dragDrop";
    import "@/css/forms.scss";
    import { required, email } from "vee-validate/dist/rules";
    import { extend } from "vee-validate";
    import * as axios from 'axios';

    extend('required', {
        ...required,
        message: '{_field_} is required'});
    extend("email", {
        ...email,
        message: 'E-mail is not in correct format'});

    export default {
        name: 'cvForm',
        components: {
            dragDrop,
            ValidationObserver,
            ValidationProvider,
        },
        data() {
            return {
                sending: false,
                form: {
                    name: '',
                    email: '',
                    message: '',
                },

            }
        },
              methods: {
            async submit(){

                this.sending = true;

                try {
                    await this.send();
                } catch (e) {
                    console.error(e);
                }

                this.sending = false;

                const cvsubmit = document.getElementById("cvSubmit");

                cvsubmit.value = 'YOUR CV IS SENT SUCCESSFULLY';
                cvsubmit.setAttribute('style', 'cursor:not-allowed; background-color:#441587; border-color:#441587; color:#ffffff;');
                cvsubmit.disabled = true;


                this.form.name = '';
                this.form.email = '';
                this.form.message = '';

                this.$refs.form.reset();
                this.$refs.dragdrop.reset();
            },
            send() {
                return axios({
                    method: 'POST',
                    url: 'https://us-central1-emotion-lt-functions.cloudfunctions.net/newTalent',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: {
                        name: this.form.name,
                        email: this.form.email,
                        message: this.form.message,
                        files: this.$refs.dragdrop.uploadedFiles
                    }
                });
            }
         }
    }
</script>

