<template>
    <div>
        <ValidationObserver v-slot="{ passes }">
        <form enctype="multipart/form-data" v-if="isInitial || isSaving">
            <div class="dragDropContainer">
                <ValidationProvider name="File" rules="required" v-slot="{ errors }">
                    <input type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                           @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length; fileName = $event.target.files[0].name;"
                           class="input-file">
                    <p v-if="isInitial">
                        Upload your CV here or <u>browse</u>
                    </p>
                    <p v-if="isSaving">
                        Uploading {{ fileCount }} files...
                    </p>
                    <span class="highlight"></span>
                    <span class="drop-error">{{ errors[0] }}</span>
                </validationProvider>
            </div>
        </form>
        <div class="success" v-if="isSuccess">
            <div class="success-file" >
                <img src="../../assets/img/file.svg" class="" alt="file logo">
                <h2 ref="filename">{{ fileName }}</h2>
            </div>
           <img src="../../assets/img/closeSmall.svg" class="" alt="close" @click="reset()">
        </div>
        <div v-if="isFailed">
            <h2>Upload failed.</h2>
            <p>
                <a href="javascript:void(0)" @click="reset()">Try again</a>
            </p>
            <pre>{{ uploadError }}</pre>
        </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import { upload } from '../../file-upload.service';
    import { ValidationObserver, ValidationProvider } from "vee-validate";
    import { required } from "vee-validate/dist/rules";
    import { extend } from "vee-validate";

    extend('required', {
        ...required,
        message: '{_field_} is required'});

    const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

    export default {
        name: "dragDrop.vue",
        components: {
            ValidationObserver,
            ValidationProvider,
        },
        data: function() {
            return {
                uploadedFiles: [],
                uploadError: null,
                currentStatus: null,
                uploadFieldName:'files'
            }
        },
        computed: {
            isInitial() {
                return this.currentStatus === STATUS_INITIAL;
            },
            isSaving() {
                return this.currentStatus === STATUS_SAVING;
            },
            isSuccess() {
                return this.currentStatus === STATUS_SUCCESS;
            },
            isFailed() {
                return this.currentStatus === STATUS_FAILED;
            }
        },
        methods: {
            reset() {
                // reset form to initial state
                this.currentStatus = STATUS_INITIAL;
                this.uploadedFiles = [];
                this.uploadError = null;
            },
            save(formData) {
                // upload data to the server
                this.currentStatus = STATUS_SAVING;
                upload(formData)
                    .then(response => {
                        this.uploadedFiles = [].concat(response.data.filename);
                        this.currentStatus = STATUS_SUCCESS;
                    })
                    .catch(error => {
                        console.error(error);
                        this.uploadError = error.response;
                        this.currentStatus = STATUS_FAILED;
                    });
            },
            filesChange(fieldName, fileList) {
                // handle file changes
                const formData = new FormData();
                if (!fileList.length) return;
                // append the files to FormData
                Array
                    .from(Array(fileList.length).keys())
                    .map(x => {
                        formData.append(fieldName, fileList[x]);
                    });
                // save it
                this.save(formData);
            }
        },
        mounted() {
            this.reset();
        },
    }

</script>

<style lang="scss" scoped>
    @import "../../css/variables";
    @import "../../css/mediaQueries";

    .input-file {
        opacity: 0; /* invisible but it's there! */
        width: 100%;
        height: 50px;
        position: absolute;
        cursor: pointer;
    }

    .success {
        display:flex;
        justify-content:space-between;
        padding:0 20px;
    }

    .success-file {
        display:flex;
        img {
            margin-right:10px;
        }
        h2 {
            @include max-screen ($small-tablet) {
                    max-width: 200px;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow: ellipsis;
            }
        }
    }

    .dragDropContainer{position:relative;}

</style>