<template>
  <router-link to="/" class="main-link">
    <div class="navbar-brand">
      <img class="brand-img" src="../../assets/img/brand.svg" alt="brand">
      <img class="brand2-img" src="../../assets/img/brand2.svg" alt="brand">
    </div>
    </router-link>

</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style lang="scss">
  @import "../../css/variables";
  @import "../../css/mediaQueries";

  .brand, .brand-text {
      font: {
        size: 13px;
        weight: 600 !important;
      }
      margin:0;
      padding:0;
  }

  .navbar-brand {
      @extend .brand;
      color: #fff;
      flex-flow: row;
      align-items: flex-end;
      min-height: 2.25rem;


      .brand-img {
        width: 115px;
        margin-right: 9px;

        @include max-screen ($phone) {
          width: 100px;
        }
      }
      .brand2-img {

      }

  }

  .main-link {opacity:1 !important;}

</style>
