<template>
       <div class="navcontainer">
           <nav class="sideNav" id="sideNav" >
               <div class="button-container" >
                   <div class="sideNavButton" :class="{active: isActive}" @click="onPress">
                       <span class="lines line-1"></span>
                       <span class="lines line-2"></span>
                       <span class="lines line-3"></span>
                   </div>
               </div>
               <transition name="fade">
                   <div class="sideNav-dropdown" :class="[isActive ? 'white' : 'transparent']" v-if="show">
                       <router-link to="/about-us">About Us</router-link>
                       <router-link to="/career" class="with-count">Career
                           <span class="count_mobile" ref="counter" v-show="isCounter">
                        {{counter}}
                    </span>
                       </router-link>
                       <router-link to="/contact-us">Contact Us</router-link>
                   </div>
               </transition>
           </nav>
           <nav class="topNav" id="topNav">
               <router-link to="/about-us">About Us</router-link>
               <router-link to="/career" class="with-count">Career
                   <span class="count" ref="counter" v-show="isCounter">
                        {{counter}}
                    </span>
               </router-link>
               <router-link to="/contact-us">Contact Us</router-link>
           </nav>
       </div>

</template>

<script>

    export default {
        name: 'navbar',
        data: function() {
            return {
                show: false,
                isActive: false,
                isCounter: true,
                counter: this.$careerEmpty ? 0 : 1
            }
        },
       created() {
            this.isCounter = this.counter !== 0;
        },
       methods: {
            onPress() {
                this.show = !this.show;
                this.isActive = !this.isActive;
            },

       },

    }

</script>

<style lang="scss">
    @import "../../css/variables";
    @import "../../css/mediaQueries";

    .navcontainer {
        display: flex;
        background: transparent;
        justify-content: flex-end;
        width:350px;
        align-items: flex-end;
        @include max-screen ($phone) {
                width: 200px;
        }
    }

    #topNav {
        @include max-screen ($phone) {
            display: none;
        }
        a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 24px 20px 0 20px;
            text-decoration: none;
            font: {
                size: 16px;
                weight: 700 !important;
            }
            cursor: pointer;
            @include max-screen ($small-desktop) {
                    font-size: 14px;
            }
            &:hover {
                opacity: 0.5;
            }
        }
        .selected {
            a {
                opacity:0.5;
            }
        }
    }

    .with-count {position:relative;}
    .count-both {
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font: {
            size: 13px;
            weight: bold;
        }
        width: 22px;
        height: 22px;
        position: absolute;
    }

    .count {
         @extend .count-both;
         top: 10px;
         right: -2px;
    }

    .count_mobile {
         @extend .count-both;
         top: -8px;
         left: 100px;
    }

    #sideNav {
        display: none;
        @include max-screen ($phone) {
             display: block;
        }
    }

    .button-container {
        position: absolute;
        top: 45px;
        right: 20px;
        z-index:2;
    }

    .sideNavButton {
        position: relative;
        width:30px;
        height:15px;
        display:block;
        cursor: pointer;
    }

    .lines {
        display:block;
        background:#ffffff;
        width:30px;
        height:2px;
        position:absolute;
        left:0;
        border-radius:4px;
        transition: all 0.4s;
    }

    .line-1 {top:0;}
    .line-2 {top:50%;}
    .line-3 {top:100%;}

    .active {
        .line-1 {
            transform: translateY(5px) translateX(0) rotate(45deg);
            -webkit-transform: translateY(5px) translateX(0) rotate(45deg);
            -moz-transform: translateY(5px) translateX(0) rotate(45deg);
        }
        .line-2 {
            opacity:0;
        }
        .line-3 {
            transform: translateY(-10px) translateX(0) rotate(-45deg);
            -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
            -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
        }
    }

    .sideNav-dropdown {
        position: absolute;
        top: 0;
        left:0;
        width: 100vw;
        background: linear-gradient(142deg, #fa2e6a, #450c89 45%), #8a2be2;
        height:100vh;
        a {
            display: block;
            font: {
                weight: 700;
                size: 1.7rem;
                family: $family;
            }
            color: #ffffff;
            margin: 40px 80px;
            text-decoration: none;
            text-align: left;
            cursor:pointer;
            &:first-child {
                margin-top:200px;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
        .fade-enter-active, .fade-leave-active  {
            transition: opacity 0.5s
        }
        .fade-enter, .fade-leave-to {
            opacity:0;
        }
        .router-link-exact-active {opacity:0.5;}

</style>
