<template>
        <div id="socialIcons">
            <a target="_blank" href="https://www.facebook.com/emotion.rocks/" rel="noopener">
                <img class="social" src="../../assets/img/facebookLogo.svg" alt="facebook">
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/emotion-ever-better/" rel="noopener">
                <img class="social" src="../../assets/img/linkedinLogo.svg" alt="linkedin">
            </a>
            <a target="_blank" href="https://www.kiva.org/lender/emotion" rel="noopener">
                <img class="social" src="../../assets/img/kLogo.svg" alt="kiva">
            </a>
        </div>
</template>

<script>
    export default {
        name: 'socialIcons'
    }
</script>

<style lang="scss" scoped>
    @import "../../css/variables";
    @import "../../css/mediaQueries";

    #socialIcons {
        width: 10%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        @include max-screen ($phone) {
                width: 100%;
                justify-content: space-evenly;
                padding: 0 10vw;
                align-items: center;
                margin-bottom:20px;
        }
        @include phone {
                margin-bottom:0;
        }
        .social {
            opacity: 1;
            &:hover{
                opacity: 0.7;
            }
        }
    }

</style>