<template>
    <div>
        <validation-observer ref="form" v-slot="{ passes }">
            <form id="subscribeForm" @submit.prevent="passes(handleSubmit)" class="form">
                <div class="subscribeRow">
                    <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }" class="gr">
                    <div class="gr">
                        <input id=formEmail type="email" name="email" v-model="userData.email" placeholder=" ">
                        <span class="highlight"></span>
                        <label for="formEmail">Enter your email</label>
                        <span class="error">{{ errors[0] }}</span>
                    </div>
                    </ValidationProvider>
                    <span class="sending" v-show="sending">Sending...</span>
                    <input id="formSubmit" class="gr" type="submit" value="SUBSCRIBE">
                </div>
            </form>
        </validation-observer>
    </div>

</template>

<script>
    import { ValidationObserver, ValidationProvider } from "vee-validate";
    import { required, email } from "vee-validate/dist/rules";
    import { extend } from "vee-validate";
    import "@/css/forms.scss";
    import * as axios from 'axios';

    extend('required', {
        ...required,
        message: '{_field_} is required'});
    extend("email", {
        ...email,
        message: 'E-mail is not in correct format'});

    export default {
        name: 'subscribeForm',
        components: {
            ValidationObserver,
            ValidationProvider,
        },
        data() {
            return {
                sending: false,
                userData: {
                    email: ''
                }
            }
        },
        methods: {
            async handleSubmit(){

                this.sending = true;

                try {
                    await this.send();
                } catch (e) {
                    console.error(e);
                }

                this.sending = false;

                const formsubmit = document.getElementById("formSubmit");

                formsubmit.value = "YOU'VE SUBSCRIBED SUCCESSFULLY!";
                formsubmit.setAttribute('style', 'cursor:not-allowed; background-color:#FC2E6A; border-color:#FC2E6A; color:#ffffff;');
                formsubmit.disabled = true;

                this.userData.email= '';
                this.$refs.form.reset();
            },
            send() {
                return axios({
                    method: 'POST',
                    url: 'https://us-central1-emotion-lt-functions.cloudfunctions.net/notificationSubscribe',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: {
                        email: this.userData.email
                    }
                });
            }
        }
    }

</script>
