<template>
    <div id="firstSection_career" ref="startPoint">
        <div id="hiringContainer" @scroll="handleScroll">

            <div id="navbar">
                <logo></logo>
                <navbar></navbar>
            </div>
            <modal v-if="modal" @close="modal=false">
                <h2 slot="title">{{title}}</h2>
            </modal>
            <div class="backFoto"></div>
            <div id="main-container_career">
                <div class="hiringText_career">
                    <div class="subtitle">Let's build empires together!</div>
                    <h1 class="title">
                        We are hiring
                    </h1>
                    <img class="cursor" src="../assets/img/horizontalLine.svg" ref="cursor" alt="cursor">
                </div>

                <div class="jobContainer">
                    <a class="jobLink" @click="getTitle" ref="jobLink">
                        <h3 class="number">01</h3>
                        <div class="jobTitle" ref="jobTxt">Mid/Senior PHP Developer in Klaipėda</div>
                    </a>
                </div>
               <div class="jobContainer" v-if="second">
                    <a class="jobLink" @click="getTitle" ref="jobLink2">
                        <h3 class="number">02</h3>
                        <div class="jobTitle" ref="jobTxt">Experienced PHP Developer in Klaipėda/Vilnius</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="lastH" ></div>
        <div id="cvSection" ref="lastP">
            <div>
                <p class="info">We are always looking for talents to join our team!</p>
                <div class="cvText">Send us an unsolicited CV to <a href="mailto:newtalent@emotion.lt"><span class="blueT">newtalent@emotion.lt</span> </a> or just fill in the form</div>
            </div>
            <cv-form></cv-form>
        </div>
        <div id="offSection">
            <div class="aboutJText">
                <span class="redT">Get notified</span><br>
                when new position opens by entering email below
            </div>
            <subscribe-form class="career-subscribe"></subscribe-form>
        </div>
        <contacts></contacts>
    </div>

</template>

<script>
    import Logo from '@/components/Reusable/Logo.vue'
    import navbar from '@/components/Reusable/navbar.vue'
    import contacts from "@/components/contacts";
    import subscribeForm from '@/components/Reusable/subscribeForm.vue'
    import cvForm from '@/components/Reusable/cvForm.vue'
    import modal from '@/components/modal.vue'
    import "@/css/base.scss"
    import '@/css/careerFull.scss'

    export default {
        name: 'careerFull',
        components: {
            Logo,
            navbar,
            contacts,
            subscribeForm,
            cvForm,
            modal
        },
        data: function () {
            return {
                modal: false,
                second: false,
                window: {
                    width: 0,
                }
            }
        },
        mounted() {
            window.addEventListener('scroll', this.handleScroll);

            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);

            window.removeEventListener('resize', this.handleResize)
        },

        watch: {
          modal () {
              if(this.modal) {
                  document.documentElement.style.overflow = 'hidden';
                  return
              }
              document.documentElement.style.overflow = 'auto'
          }

        },
        methods: {
            getTitle: function (el) {
                this.title = el.target.innerText;
                this.modal = true;
            },
            handleResize() {
                this.window.width = window.innerWidth;
                this.height = document.documentElement. clientHeight;
               // console.log(this.window.width, this.height);
            },
            handleScroll() {

                // const getOffsetTop = element => {
                //     let offsetTop = 0;
                //     while (element) {
                //         offsetTop += element.offsetTop;
                //         element = element.offsetParent;
                //     }
                //     return offsetTop;
                // };
                //console.log(pageYOffset);

                let cursor = this.$refs.cursor;
                let job = this.$refs.jobLink;
                let job2 = this.$refs.jobLink2;


                if (this.second === false) {
                    if (this.window.width >= 900 && this.height >= 800) {
                        if (window.pageYOffset < 100) {
                            cursor.setAttribute('style', 'display: block');
                        } else if (window.pageYOffset >= 500 && window.pageYOffset < 700) {
                            cursor.setAttribute('style', 'display: none');
                        } else if (window.pageYOffset >= 700) {
                            cursor.setAttribute('style', 'display: none');
                            job.setAttribute('style', 'opacity:0');
                        } else {
                            job.setAttribute('style', 'opacity:0.5');
                            cursor.setAttribute('style', 'display: block');
                        }

                    } else if (this.window.width >= 900 && this.height < 800 ) {
                        cursor.setAttribute('style', 'display: none');
                        if (window.pageYOffset < 425) {
                            job.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >= 425) {
                            job.setAttribute('style', 'opacity:0');
                        } else {
                            job.setAttribute('style', 'opacity:0.8');
                        }

                    } else if (this.window.width < 900 && this.window.width > 812) {
                        cursor.setAttribute('style', 'display: none');
                        if (window.pageYOffset < 625) {
                            job.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >= 625) {
                            job.setAttribute('style', 'opacity:0');
                        } else {
                            job.setAttribute('style', 'opacity:0.8');
                        }

                    } else if (this.window.width <= 812 ) {
                        job.setAttribute('style', 'opacity:.8');
                    }

                } else if (this.second === true) {

                    if (this.window.width >= 900 && this.height >= 800) {
                        document.getElementById('hiringContainer').style.height = '150vh';
                        document.querySelector('.backFoto').style.height = '150vh';

                        if (window.pageYOffset < 100) {
                            cursor.setAttribute('style', 'display: block');
                        } else if (window.pageYOffset >=100 && window.pageYOffset < 700){
                            cursor.setAttribute('style', 'display: block');
                            job.setAttribute('style', 'opacity:0.5');
                            job2.setAttribute('style', 'opacity:0.5');
                        } else if (window.pageYOffset >= 700 && window.pageYOffset < 900){
                            cursor.setAttribute('style', 'display: block');
                            job.setAttribute('style', 'opacity:0');
                        } else if (window.pageYOffset >= 900 && window.pageYOffset <= 1050){
                            job.setAttribute('style', 'opacity:0');
                            cursor.setAttribute('style', 'display: none');
                        } else if (window.pageYOffset >= 1050) {
                            job.setAttribute('style', 'opacity:0');
                            job2.setAttribute('style', 'opacity:0');
                            cursor.setAttribute('style', 'display: none');
                        } else {
                            job.setAttribute('style', 'opacity:0.5');
                            job2.setAttribute('style', 'opacity:0.5');
                            cursor.setAttribute('style', 'display: block');
                        }

                    } else if (this.window.width >= 900 && this.height < 800 ) {
                        let jobContainer = document.getElementsByClassName('jobContainer');
                        for (let i = 0; i < jobContainer.length; i++) {
                            jobContainer[i].style.height = '20vh';
                        }

                        if (window.pageYOffset < 425) {
                            cursor.setAttribute('style', 'display: block');
                            job.setAttribute('style', 'opacity:0.8');
                            job2.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >= 425 && window.pageYOffset < 500) {
                            cursor.setAttribute('style', 'display: none');
                            job.setAttribute('style', 'opacity:0.8');
                            job2.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >= 500 && window.pageYOffset < 700) {
                            cursor.setAttribute('style', 'display: none');
                            job.setAttribute('style', 'opacity:0');
                            job2.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >= 700) {
                            cursor.setAttribute('style', 'display: none');
                            job.setAttribute('style', 'opacity:0');
                            job2.setAttribute('style', 'opacity:0');
                        } else {
                            job.setAttribute('style', 'opacity:0.8');
                            job2.setAttribute('style', 'opacity:0.8');
                            cursor.setAttribute('style', 'display: block');
                        }

                    } else if (this.window.width < 900 && this.window.width >= 768) {
                        let jobContainer = document.getElementsByClassName('jobContainer');
                        for (let i = 0; i < jobContainer.length; i++) {
                            jobContainer[i].style.margin = '65px 0 165px';
                        }

                       // cursor.setAttribute('style', 'display: none');
                        if (window.pageYOffset < 540) {
                            job.setAttribute('style', 'opacity:0.8');
                            job2.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >= 540 && window.pageYOffset < 680) {
                            job.setAttribute('style', 'opacity:0');
                            job2.setAttribute('style', 'opacity:0.8');
                        } else if (window.pageYOffset >=680) {
                            job.setAttribute('style', 'opacity:0');
                            job2.setAttribute('style', 'opacity:0');
                        } else {
                            job.setAttribute('style', 'opacity:0.8');
                            job2.setAttribute('style', 'opacity:0.8');
                        }

                    } else if (this.window.width < 768 && this.height >= 400) {

                        cursor.setAttribute('style', 'display: none');
                        job.setAttribute('style', 'opacity:.8');

                    } else if (this.window.width < 768 && this.height < 400){

                        document.getElementById('hiringContainer').style.height = '150vh';
                        document.querySelector('.backFoto').style.height = '150vh';
                    }
                }

            }

        }
    }

</script>

