<template>
    <div id="firstSection_career_empty">
        <div id="hiringContainer_empty">
            <div id="navbar">
                <logo></logo>
                <navbar></navbar>
            </div>
            <div id="cvSection_empty">
                <div>
                    <p class="info">We are always looking for talents to join our team!</p>
                    <div class="cvText_empty">Send us an unsolicited CV to <a href="mailto:newtalent@emotion.lt"><span class="blueT">newtalent@emotion.lt</span> </a> or just fill in the form</div>
                </div>
                <cv-form></cv-form>
            </div>
        </div>

        <div id="offSection_empty">
            <div class="aboutJText_empty">
                <span class="redT">Get notified</span><br>
                when new position opens by entering email below
            </div>
            <subscribe-form class="career-subscribe"></subscribe-form>
        </div>
        <contacts></contacts>
    </div>
</template>

<script>
    import Logo from '@/components/Reusable/Logo.vue'
    import navbar from '@/components/Reusable/navbar.vue'
    import contacts from "@/components/contacts"
    import subscribeForm from '@/components/Reusable/subscribeForm.vue'
    import cvForm from '@/components/Reusable/cvForm.vue'
    import "@/css/base.scss"
    import '@/css/careerEmpty.scss'

    export default {
        name: 'careerEmpty',
        components: {
            Logo,
            navbar,
            contacts,
            subscribeForm,
            cvForm
        },
        data: function () {
            return {

            }
        }
    }
</script>
