<template>
    <footer id="contactsSection">
        <div id="contactTitle">
            <div class="navbar-brand center">
                <img class="brand-img" src="../assets/img/brand.svg" alt="brand">
                <img class="brand2-img" src="../assets/img/brand2.svg" alt="brand">
            </div>
            <address>
                <div id="mail">
                    <a href="mailto:hello@emotion.lt">hello@emotion.lt</a>
                </div>
                <div id="phone">+370 672 37893</div>
            </address>
        </div>
        <div>
            <social-icons class="icons-center"></social-icons>
        </div>
    </footer>
</template>

<script>
    import socialIcons from '@/components/Reusable/socialIcons.vue'

    export default {
        name: 'contacts',
        components: {
            socialIcons
        }
    }

</script>

<style lang="scss">
    @import "../css/variables";
    @import "../css/mediaQueries";

    #contactsSection {
        width: 100%;
        padding: 0;
        background-color: $second-color;
        display: flex;
        height: 100vh;
        flex: {
            wrap: wrap;
            direction: column;
        }
        justify-content: center;
    }

    #mail {
        margin: 100px 0 0 0;
        @include phone {
            margin:50px 0 0 0;
        }
        a {
            height: auto;
            width: 100%;
            display: flex;
            color: #441587;
            font: {
                size: 8vw;
                weight: 700 !important;
            }
            outline: 0;
            justify-content: center;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    #phone {
        height: auto;
        width: 100%;
        display: flex;
        color: #fff;
        font: {
            size: 3.5vw;
            weight: 700 !important;
        }
        justify-content: center;
        margin:0 0 100px 0;
        @include max-screen ($phone) {
                font-size:8vw;
        }
        @include phone {
             margin:0 0 50px 0;
        }
    }

    .icons-center {
        width:100%;
        margin: auto;
    }

    .center {
        width:100%;
        justify-content: center;
    }
    address {
        font-style: normal;
    }

</style>