<template>
    <transition appear :name="transitionName">
        <div class="Cookie" v-if="isOpen">
            <slot :accept="accept" :close="close" :open="open">
                <div class="Cookie__content">
                    <p class="message">{{ message }}
                        <router-link to="/privacy-policy" rel="noopener" class="messageLink">PRIVACY POLICY</router-link>
                    </p>
                </div>
                <button class="Cookie__button" @click="accept">{{ buttonTextAccept }}</button>
            </slot>
        </div>
    </transition>
</template>

<script>
    const STORAGE_TYPES = {
        local: 'localStorage',
        cookies: 'cookies'
    };
    export default {
        name: 'cookie',
        props: {
            transitionName: {
                type: String,
                default: 'fade'
            },
            buttonTextAccept: {
                type: String,
                default: 'I AGREE'
            },
            buttonClass: {
                type: String,
                default: 'Cookie__button'
            },
            message: {
                type: String,
                default: 'To improve the quality of your browsing, we use cookies on this site for statistical and marketing purposes.\n' +
                    'By clicking "I agree" or browsing, you continue to confirm your acceptance of the cookies. You can revoke your\n' +
                    'consent at any time by changing your Internet browser settings and deleting your cookies. For more information \n' +
                    'about cookies and how to decline them, please read our'
            },
            storageName: {
                type: String,
                default: 'cookie:accepted'
            },
            storageType: {
                type: String,
                default: STORAGE_TYPES.local
            }
        },
        data () {
            return {
                supportsLocalStorage: true,
                isOpen: false
            }
        },
        computed: {
            canUseLocalStorage () {
                return this.storageType === STORAGE_TYPES.local && this.supportsLocalStorage
            },
        },
        created () {
            if (this.storageType === STORAGE_TYPES.local) {
                // Check for availability of localStorage
                try {
                    const test = '__vue-cookie-check-localStorage';
                    window.localStorage.setItem(test, test);
                    window.localStorage.removeItem(test)
                } catch (e) {
                    console.log('Local storage is not supported, falling back to cookie use');
                    this.supportsLocalStorage = false
                }
            }
            if (!this.getVisited() === true) {
                this.isOpen = true
            }
        },
        methods: {
            setVisited () {
                if (this.canUseLocalStorage) {
                    localStorage.setItem(this.storageName, true)
                } else {
                    cookie.set(this.storageName, true)
                }
            },
            getVisited () {
                if (this.canUseLocalStorage) {
                    return localStorage.getItem(this.storageName)
                } else {
                    return cookie.get(this.storageName)
                }
            },
            accept () {
                this.setVisited();
                this.isOpen = false;
                this.$emit('accept')
            },
            close () {
                this.isOpen = false
            },
            open () {
                if (!this.getVisited() === true) {
                    this.isOpen = true
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "../css/variables";
    @import "../css/mediaQueries";

    .Cookie {
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 9999;
        background: #ffffff;
        bottom: 50px;
        left: 30px;
        right: 30px;
        height: 110px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border-radius: 8px;
        @include max-screen ($tablet) {
                height: 110px;
                bottom: 40px;
        }
        @include max-screen ($small-tablet) {
                height: 180px;
                bottom: 30px;
                justify-content: space-between;
                align-items: baseline;
                flex-direction: column;
        }
        @include max-screen ($phone) {
                height: 220px;
        }
        @include max-screen ($small-phone) {
                height: 270px;
                bottom: 10px;
                left: 10px;
                right: 10px;
        }
    }

    .message {
        color: #000000;
        background: #ffffff;
        font: {
            family: $family;
            size: 12px;
        }
        text-align:justify;
        margin-right:20px;
    }

    .Cookie__content {
        @extend .message;
        flex:1;
        @include max-screen ($tablet) {
                margin-right:30px;
                width: 600px;
        }
        @include max-screen ($small-tablet) {
                margin-right:0;
                width:100%;
        }
    }

    .messageLink {
        color:#fc2e6a !important;
        text-decoration: none !important;
        &:hover, &:active, &:link, &:visited {
            opacity:1;
        }
    }

    .Cookie__button {
        border: 1px solid #fc2e6a;
        border-radius: 28px;
        display: inline-block;
        cursor: pointer;
        background-color: #fc2e6a;
        width: 280px;
        height: 50px;
        align-self: center;
        white-space: nowrap;
        color:#ffffff;
        font: {
            size: 16px;
            weight: 700 !important;
        }
        &:hover, &:active, &:link, &:visited {
            background-color: #ffffff;
            border: 1px solid #fc2e6a;
            color:#fc2e6a;
        }
    }

    .fade-enter-active, .fade-leave-active {transition: opacity .5s}
    .fade-enter, .fade-leave-to {opacity: 0}

</style>