<template>
    <transition name="slide-fade" v-on:before-enter="beforeEnter" v-on:after-leave="afterLeave">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="inner-modal">
                    <div class="modal-header">
                        <a @click="Close"><i id="close"> </i></a>
                    </div>
                    <div class="modal-title">
                        <h2>Mid/Senior PHP Developer in Klaipėda</h2>
                    </div>
                    <div class="modal-subtitle">
                        Collaboratively with your teammates, you will be developing and supporting some
                        of the most frequently visited online stores and online destinations in Scandinavia.
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="modal-flexcontainer">
                        <div class="modal-body">
                            <h4>Hard skills</h4>
                            <ul class="list">
                                <li>
                                    <span>Outstanding skills in OOD with PHP</span>
                                </li>
                                <li>
                                    <span>3+ years of professional experience as a developer</span>
                                </li>
                                <li>
                                    <span>Ability to write a high quality code</span>
                                </li>
                                <li>
                                    <span>Professional experience with MySQL</span>
                                </li>
                                <li>
                                    <span>Understanding of Git workflow</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-body mobile-body">
                            <h4>Soft skills</h4>
                            <ul class="list">
                                <li>
                                    <span>Great attitude and team orientation</span>
                                </li>
                                <li>
                                    <span>Fluent in English</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-body">
                            <h4>Bonus Points</h4>
                            <ul class="list">
                                <li>
                                    <span>Continuous integration</span>
                                </li>
                                <li>
                                    <span>Experience working with Symfony or/and Laravel frameworks</span>
                                </li>
                                <li>
                                    <span>Experience with Amazon AWS</span>
                                </li>
                                <li>
                                    <span>Experience with Magento or other E-Commerce solutions</span>
                                </li>
                                <li>
                                    <span>Experience in NoSql databases, Node.js</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="modal-flexcontainer second-container">
                        <div class="modal-body" style="width:100%; height:auto">
                            <h4>We offer</h4>
                            <ul class="list">
                                <li>
                                    <span>Work environment that supports your growth as a professional and as an individual</span>
                                </li>
                                <li>
                                    <span>Involvement in sophisticated multifaceted projects</span>
                                </li>
                                <li>
                                    <span>Zend, Symfony, Magento or equivalent certification covered by the company</span>
                                </li>
                                <li>
                                    <span>Competitive salary and performance - based bonuses</span>
                                </li>
                                <li>
                                    <span>Personal motivation system (literature, courses, seminars, days off, certificates and ect.</span>
                                </li>
                                <li>
                                    <span>Free snacks and other in-office perks</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-title">
                        <h2>Apply for the position</h2>
                    </div>
                    <cv-form-full class="modal-form"> </cv-form-full>
                </div>
            </div>
        </div>
        <div class="empty" style="height:100px;"></div>
    </div>
    </transition>
</template>

<script>
    import cvFormFull from '@/components/Reusable/cvFormFull.vue'
    import "@/css/base.scss"
    import '@/css/careerFull.scss'
    export default {
        name: "modal.vue",
        components: {
            cvFormFull
        },
        methods: {
            beforeEnter: function () {
                let tagHtml = document.getElementsByTagName("html")[0];
                tagHtml.setAttribute('style', 'overflow-y: hidden');
            },
            afterLeave: function () {
                let tagHtml = document.getElementsByTagName("html")[0];
                tagHtml.setAttribute('style', 'overflow-y: auto')
            },
            Close() {
                this.$emit('close');
            }
        }
    }
</script>

<style lang="scss">
    @import "../css/variables";
    @import "../css/mediaQueries";

    .modal-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.5);
        display: table;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        z-index:3;
    }
    .modal-wrapper {
        display:flex;
        flex-direction: row-reverse;
    }

    .modal-container {
        display:flex;
        width: 85%;
        height: auto;
        background-color:$primary-color;
        transition: all .3s ease;
        overflow-y: scroll;
        overscroll-behavior: none;
        @include max-screen ($tablet) {
            width:100%;
        }
    }
    .inner-modal {
        height:100vh;
        @include max-screen ($tablet) {
            width:100%;
        }
    }

    #close{
        height: 4.5vh;
        width: 4.5vh;
        background: url(../assets/img/close.svg) no-repeat 50%;
        background-size: contain;
        display:flex;
        &:hover {
            opacity:.5;
        }
    }

    .modal-header {
        height: auto;
        width: 100%;
        padding: 5vh 5vw 0;
        display:flex;
        justify-content: flex-end;
        @include max-screen ($tablet) {
            width:100%;
        }
    }

    .modal-title{
        width: 100%;
        height: auto;
        padding: 0 7.8125vw;
        text-align: left;
        display:flex;
        color: $second-color;
        @include max-screen ($tablet) {
            padding: 34px 8.122vw 31px;
        }
        h2 {
            font: {
                weight: 700;
                size: 74px;
            }
            @include max-screen ($tablet) {
                font-size: 50px;
            }
            @include max-screen ($phone) {
                font-size: 25px;
            }
        }
    }

    .modal-subtitle{
        width: 100%;
        height: auto;
        color: #fc2e6a;
        font: {
            size: 28px;
            weight: 400;
        }
        padding: 0 8.122vw;
        text-align: left;
        display:flex;
        @include max-screen ($tablet) {
            font-size:17px;
        }
    }

    .modal-line {
        width: 100%;
        display: flex;
        height: auto;
        padding: 2vw 8.122vw;
        hr {
            width: 100%;
            display: flex;
            height: 1px;
            border:0;
        }
    }

    .modal-flexcontainer {
        width: 100%;
        padding: 0 8.122vw;
        height: auto;
        text-align: left;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include max-screen ($tablet) {
            justify-content: space-evenly;
        }
    }

    .modal-body {
        height: auto;
        width: 30%;
        display:flex;
        flex: {
            wrap:wrap;
            direction: column;
        }
        @include max-screen ($tablet) {
                width: 100%;
                padding: 16px 0;
        }
        h4{
            height: auto;
            font: {
                size: 21px;
                weight: 700 !important;
            }
            line-height: 34px;
        }
        .list {
            list-style: disc inside;
            height: auto;
            background:transparent;
            box-shadow:none;
            flex-direction: column;
            li {
                color: $second-color;
                font: {
                    size: 16px;
                    weight: 400;
                }
                line-height: 34px;
                padding: 4px 0;
                display:flex;
                span {
                    color:#ffffff;
                }
            }
        }
    }

    .second-container{
        margin:0 0 150px;
        @include max-screen ($tablet) {
            margin: 0 0 50px;
        }
    }

    .modal-form {
        padding: 50px 7.8125vw;
        #cvSubmit {
            &:hover {
                background: transparent;
                color: $second-color;
                opacity: 0.7;
                border: 2px solid rgba(255, 255, 255, 0.5);
                transition: all 0.5s ease;
            }
        }
    }

    .slide-fade-enter-active {transition: all .3s;}
    .slide-fade-leave-active {transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);}
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }

    .mobile-body {
        @include max-screen ($tablet) {
            height: auto !important;
        }
    }

</style>