<template>
    <div id="notFound">
        <div id="notFound_container">
            <div id="notFound_mcontainer">
                <div id="navbar">
                    <logo></logo>
                    <navbar></navbar>
                </div>
                <h1 class="title">Whoops!</h1>
                <h2 class="subtitle">We can't find that page you were looking for.</h2>
            </div>
        </div>

    </div>
</template>

<script>
    import Logo from '@/components/Reusable/Logo.vue';
    import navbar from '@/components/Reusable/navbar.vue'

    export default {
        name: "pageNotFound.vue",
        components: {
            Logo,
            navbar
        }
    }
</script>

<style lang="scss">
    @import "../css/variables";
    @import "../css/mediaQueries";

    #notFound {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: linear-gradient(142deg, $second-color, $primary-color 45%), $fourth-color;
    }
    #notFound_container{
        display: flex;
        width: 100%;
        flex: {
            wrap: wrap;
            direction:column;
        }
        align-items: center;
        height: 80vh;
        overflow: hidden;
        justify-content: space-around;
    }

    #notFound_mcontainer {
        height: 100vh;
        padding: 5.933vh 9%;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        .subtitle {
            @include max-screen ($small-tablet) {
                    letter-spacing: 0 !important;
                    font-size: 18px;
            }
            @include max-screen ($phone) {
                letter-spacing: 0 !important;
                font-size: 13px;
            }
        }
    }

</style>