<template>
        <GoogleMapLoader :mapConfig="mapConfig" ref="map" apiKey="AIzaSyCtvRCkSPWY6g7C-B0x052ttrxkT8v0Pu0">
            <template slot-scope="{ google, map }" >
                <GoogleMapMarker
                        v-for="marker in markers"
                        :key="marker.id"
                        :marker="marker"
                        :google="google"
                        :map="map"
                />
            </template>
        </GoogleMapLoader>
</template>

<script>
    import GoogleMapLoader from "./GoogleMapLoader";
    import GoogleMapMarker from "./GoogleMapMarker";

    import { mapSettings } from "../../mapSettings";

    export default {
        name: "Map",
        components: {
            GoogleMapLoader,
            GoogleMapMarker
        },
        data() {
            return {
                markers: [
                    {
                        id: "a",
                        position: { lat: 55.724387, lng: 21.126754 }
                    },
                    {
                        id: "b",
                        position: { lat: 54.716760, lng: 25.287673 }
                    }
                ],
                center: { lat: 55.724387, lng: 21.126754 },
                currentIndex: 0,
            };
        },

        computed: {
            mapConfig() {
                return {
                    ...mapSettings,
                    center: this.center
                };
            },
        },

        methods: {
            update() {
                this.currentIndex = this.$parent.index;
                 if (this.currentIndex === 0) {
                    this.center = { lat: 55.724387, lng: 21.126754 };
                 }
                 else if (this.currentIndex === 1) {
                     this.center = { lat: 54.716760, lng: 25.287673 };
                 }
                 this.$refs['map'].map.setCenter(this.center);
            },
        },

    };
</script>
