$family: Poppins, sans-serif;

//colors
$primary-color: #441587;
$second-color: #FC2E6A;
$third-color: #E33466;
$fourth-color: #8A2BE2;

//media
$desktop: 1750px;
$middle-desktop: 1680px;
$small-desktop: 1380px;
$l-tablet: 1366px;
$tablet: 1280px;
$m-tablet:1200px;
$middle-tablet: 1025px;
$small-tablet: 899px;
$big-phone: 799px;
$phone: 640px;
$small-phone: 420px;


