#firstSection_about {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: linear-gradient(142deg, #FC2E6A, #441587 45%), #8A2BE2;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #firstSection_about #hiringSection .subscribe {
    padding: 50px 0;
  }
}

#container_about {
  background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -400px;
  background-size: 100%;
  height: 110vh;
  padding: 5.933vh 9%;
  position: absolute;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 1380px) {
  #container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -300px;
  }
}
@media screen and (max-width: 1280px) {
  #container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -250px;
  }
}
@media screen and (max-width: 1025px) {
  #container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -150px;
  }
}
@media screen and (max-width: 899px) {
  #container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -50px;
  }
}
@media screen and (max-width: 599px) {
  #container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 0;
    background-size: 200%;
    padding: 4.445vh 5%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -50px;
    background-size: 100%;
    padding: 4.445vh 5%;
  }
}

#main-container_about {
  width: 100%;
  height: 110vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#main-container_about .title {
  margin-bottom: 100px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #main-container_about .title {
    margin-bottom: 50px !important;
  }
}
#main-container_about #aboutText {
  padding: 0 100px;
}
@media screen and (max-width: 899px) {
  #main-container_about #aboutText {
    padding: 0 9%;
  }
}
@media screen and (max-width: 599px) {
  #main-container_about #aboutText {
    padding: 0 3.35vh;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #main-container_about #aboutText {
    font-size: 20px;
  }
}

#secondSection_about {
  width: 100%;
  padding: 7% 9% 0 9%;
  background-color: #E33466;
  height: auto;
}
@media screen and (max-width: 420px) {
  #secondSection_about {
    padding: 7% 5% 0 5%;
  }
}

#projectsSection, #officesSection {
  background-color: #441587;
  height: auto;
  width: 100%;
}

#projectsSection {
  padding: 7%;
}
#projectsSection .aboutPText {
  padding: 0;
  line-height: 3.59vw;
  text-align: left;
  margin: 100px 0;
  font-size: 2.39vw;
  font-weight: 700 !important;
}
@media screen and (max-width: 599px) {
  #projectsSection .aboutPText {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

#officesSection {
  padding: 7% 0;
}

#advantages {
  margin: 6vh 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 420px) {
  #advantages {
    margin: 30px 10px 30px 0;
  }
}

#counts {
  margin: 6vh 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage {
  height: auto;
  width: 30%;
  text-align: justify;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 899px) {
  .advantage {
    width: 100%;
    margin-bottom: 20px;
  }
}
.advantage:last-of-type {
  margin-right: 35% !important;
}
@media screen and (max-width: 899px) {
  .advantage:last-of-type {
    margin-right: 0 !important;
  }
}
.advantage h4 {
  color: #441587;
  font-weight: 700;
  width: 100%;
  height: 70px;
  font-size: 37px;
}
@media screen and (max-width: 1750px) {
  .advantage h4 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 899px) {
  .advantage h4 {
    font-size: 30px;
    margin-bottom: 20px;
    height: auto;
  }
}
@media screen and (max-width: 420px) {
  .advantage h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.advantage .info {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1025px) {
  .advantage .info {
    font-size: 13px;
  }
}

.single-count {
  height: auto;
  width: 30%;
  text-align: justify;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 899px) {
  .single-count {
    width: 100%;
    padding: 0 10%;
  }
}
@media screen and (max-width: 599px) {
  .single-count {
    padding: 0 5%;
  }
}
.single-count h3 {
  color: #E33466;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 1025px) {
  .single-count h3 {
    font-size: 25px;
  }
}
.single-count .counter {
  font-size: 80px;
}
@media screen and (max-width: 1280px) {
  .single-count .counter {
    font-size: 65px;
  }
}
@media screen and (max-width: 1025px) {
  .single-count .counter {
    font-size: 55px;
  }
}
@media screen and (max-width: 1025px) {
  .single-count .info {
    font-size: 15px;
  }
}

.info {
  width: 100%;
  height: auto;
  font-size: 21px;
  font-weight: 400;
}

#iconContainer {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#iconContainer .icon {
  width: 20%;
  height: auto;
  margin: auto;
  padding: 4vh 0;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  #iconContainer .icon {
    width: 40%;
  }
}

#officesCont {
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 599px) {
  #officesCont {
    margin: 50px 0 0 0;
  }
}

.officeImg {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 599px) {
  .officeImg {
    width: 100%;
  }
}
.officeImg img {
  width: 100%;
}

.officeImg-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.85vw;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 599px) {
  .officeImg-title {
    font-size: 5.5vw;
  }
}

/*# sourceMappingURL=aboutUs.css.map */
