@import "../css/variables";
@import "../css/mediaQueries";

#firstSection_about {
    position:relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: linear-gradient(142deg, $second-color, $primary-color 45%), $fourth-color;
    #hiringSection {
        .subscribe {
            @include phone {
                padding:50px 0;
            }
        }
    }
}

#container_about {
    background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -400px;
    background-size:100%;
    height: 110vh;
    padding: 5.933vh 9%;
    position:absolute;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    @include max-screen ($small-desktop) {
            background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -300px;
    }
    @include max-screen ($tablet) {
            background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -250px;
    }
    @include max-screen ($middle-tablet){
            background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -150px;
    }
    @include max-screen ($small-tablet) {
            background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -50px;
    }
    @include max-screen ($phone) {
        background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 0;
        background-size:200%;
        padding: 3vh 5%;
    }
    @include phone {
        background: url(../assets/img/aboutUsBckgr.png) fixed no-repeat 0 -50px;
        background-size:100%;
        padding: 4.445vh 5%;
    }

}

#main-container_about {
    width: 100%;
    height:110vh;
    z-index:2;
    display:flex;
    justify-content: center;
    flex-direction: column;
    .title {
        margin-bottom: 100px !important;
        @include phone {
            margin-bottom: 50px !important;
        }
    }
    #aboutText{
        padding:0 100px;
        @include max-screen ($small-tablet) {
            padding:0 9%;
        }
        @include max-screen ($phone) {
            padding:0 3.35vh;
        }
        @include phone {
            font-size:20px;
        }
    }
}

#secondSection_about {
    width: 100%;
    padding: 7% 9% 0 9%;
    background-color: #E33466;
    height: auto;
    @include max-screen ($small-phone) {
        padding:7% 5% 0 5%;
    }
}
#projectsSection, #officesSection {
    background-color: #441587;
    height: auto;
    width: 100%;
}
#projectsSection {
    padding: 7%;
    .aboutPText {
        padding:0;
        line-height:3.59vw;
        text-align: left;
        margin: 100px 0;
        font: {
            size: 2.39vw;
            weight: 700 !important;
        }
        @include max-screen ($phone) {
            font-size: 20px;
            line-height: 30px;
            padding: 0;
        }
    }
}
#officesSection{padding: 7% 0;}

#advantages {
    margin: 6vh 0;
    height: auto;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include max-screen ($small-phone) {
        margin:30px 10px 30px 0;
    }
}

#counts {
    margin: 6vh 0;
    height: auto;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    height: auto;
    width: 30%;
    text-align: justify;
    margin-bottom: 70px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    @include max-screen ($small-tablet) {
            width:100%;
            margin-bottom:20px;
    }
    &:last-of-type {
        margin-right:35% !important;
        @include max-screen ($small-tablet) {
            margin-right:0 !important;
        }
    }
    h4 {
        color: #441587;
        font-weight: 700;
        width: 100%;
        height: 70px;
        font-size: 37px;
        @include max-screen($desktop) {
            margin-bottom: 50px;
        }
        @include max-screen ($small-tablet) {
                font-size:30px;
                margin-bottom:20px;
                height: auto;
        }
        @include max-screen ($small-phone) {
                font-size:20px;
                margin-bottom:10px;
        }
    }
    .info {
         width: 100%;
         height: auto;
         font-size: 16px;
         font-weight: 400;
        @include max-screen ($middle-tablet) {
             font-size:13px;
        }
    }
}

.single-count {
    height: auto;
    width: 30%;
    text-align: justify;
    margin-bottom: 70px;
    display:flex;
    flex: {
        wrap: wrap;
        direction: column;
    }
    @include max-screen ($small-tablet) {
            width:100%;
            padding:0 10%;
    }
    @include max-screen ($phone) {
         padding:0 5%;
    }
    h3 {
        color: $third-color;
        font: {
            size:35px;
            weight: 700;
        }
        line-height:1;
        @include max-screen ($middle-tablet) {
           font-size:25px;
        }
    }
    .counter {
        font-size:80px;
        @include max-screen ($tablet) {
            font-size:65px;
        }
        @include max-screen ($middle-tablet) {
            font-size:55px;
        }
    }
    .info {
        @include max-screen ($middle-tablet) {
            font-size:15px;
        }
    }
}

.info {
    width: 100%;
    height: auto;
    font: {
        size: 21px;
        weight: 400;
    }
}

#iconContainer {
    width: 100%;
    height: auto;
    padding: 0;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    .icon {
        width: 20%;
        height: auto;
        margin: auto;
        padding: 4vh 0;
        justify-content: center;
        @include max-screen ($phone) {
            width:40%;
        }
    }
}

#officesCont{
    width: 100%;
    margin:100px 0 0 0;
    display:flex;
    flex-wrap:wrap;
    @include max-screen ($phone) {
        margin: 50px 0 0 0
    }
}

.officeImg{
    width:50%;
    position: relative;
    @include max-screen ($phone) {
        width:100%;
    }
    img{
        width:100%;
    }
}

.officeImg-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: {
        size: 3.85vw;
        weight: 700;
    }
    color:#ffffff;
    @include max-screen ($phone) {
            font-size:5.5vw;
    }
}