#navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 3;
}

body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  color: #ffffff;
}
body .subtitle, body .title {
  margin: 0 !important;
  padding: 0 !important;
}

.main, .title, .subtitle, body {
  font-family: Poppins, sans-serif;
  color: #ffffff;
}

.subtitle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 1.733vw;
  font-weight: 400 !important;
  width: 100%;
  justify-content: center;
}

.title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding-top: 2% !important;
  justify-content: center;
  font-size: 8.12vw;
  font-weight: 700 !important;
}

input {
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none !important;
  -moz-appearance: none;
}

/*# sourceMappingURL=base.css.map */
