@import '_variables.scss';

@mixin display-flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#navbar {
    @include display-flex();
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 3;
}
*, body {
    box-sizing: border-box;
    margin: 0;
}
body {
    overflow-x: hidden;
    font-family: $family;
    color:#ffffff;
    @extend .main;
    .subtitle, .title {
        margin: 0 !important;
        padding: 0 !important;
    }
}
.main {
    font-family: $family;
    color:#ffffff;
}
.subtitle {
    @extend .main;
    @include display-flex();
    font-size: 1.733vw;
    font-weight: 400 !important;
    width: 100%;
    justify-content: center;

}
.title {
    @extend .main;
    @include display-flex();
    width: 100%;
    padding-top: 2% !important;
    justify-content: center;
    font-size: 8.12vw;
    font-weight: 700 !important;

}
input {
    border-radius:0;
    -webkit-border-radius: 0;
    -webkit-appearance: none !important;
    -moz-appearance: none;
}




