@import "../css/variables";
@import "../css/mediaQueries";

#firstSection_career_empty {
    background: linear-gradient(142deg, $primary-color, $second-color 45%);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#hiringContainer_empty {
    position: relative;
    height: auto;
    padding: 5.933vh 9%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    @include max-screen ($phone) {
        padding: 4.445vh 5%;
    }
}

.Text_empty {
    padding:0;
    line-height:80px;
    text-align: left;
    font: {
        size: 3.85vw;
        weight: 700 !important;
    }
    @include max-screen ($phone) {
            font-size:25px;
            line-height:30px;
            margin:40px 0 80px 0;
    }
}

.aboutJText_empty {
    @extend .Text_empty;
    margin: 100px 0;
    @include max-screen ($small-tablet) {
        line-height: 50px;
    }
}

.cvText_empty {
    @extend .Text_empty;
    margin: 20px 0 100px 0;
    @include max-screen ($small-tablet) {
        line-height:50px;
    }
    .blueT {
        color: $primary-color
    }
}

#offSection_empty {
    background-color: $primary-color;
    height: auto;
    width: 100%;
    padding: 7%;
    @include max-screen ($phone) {
        padding:7% 5%;
    }
    .redT {
        color: $second-color;
    }
}

#cvSection_empty {
    height: auto;
    width: 100%;
    padding: 10% 0;
    @include max-screen ($small-tablet) {
       padding:15% 0 0 0;
    }
    @include max-screen ($phone) {
        padding:20% 0 0 0;
    }
    .info {
        font-size:23px;
        @include max-screen ($phone) {
            font-size:17px;
        }
    }
}















