@import "../css/variables";
@import "../css/mediaQueries";

  #firstSection_career {
      background: $primary-color;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
  }

  #hiringContainer {
      position: relative;
      height: 110vh;
      padding: 5.933vh 9%;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-start;
      @include max-screen ($phone) {
            padding: 3vh 5%;
      }
  }

  #main-container_career {
      width: 100%;
      margin: 150px 0;
      z-index:1;
      @include phone {
          margin-top:50px;
      }
      @include landscape (700px) {
          margin:50px;
        }
      .title {
          color: $second-color;
          font: {
              size: 7.6345vw;
              weight: 700;
          }
          margin: 0;
          margin-bottom: 100px !important;
          justify-content: start;
          @include max-screen ($phone) {
                font-size: 30px;
                margin:0;
          }
          @include phone {
               margin-bottom: 0 !important;
          }
      }
      .subtitle {
          color: #fff;
          font: {
              size: 28px;
              weight: 400;
          }
          margin: 0;
          justify-content: start;
          @include max-screen ($small-tablet) {
              font-size: 17px;
              letter-spacing:0 !important;
          }
      }
  }

  .cursor {
      width: 80px;
      height: 1vh;
      position: fixed;
      left: 0;
      top: 50vh;
      opacity: .5;
      z-index: 2;
      display:block;
      @include max-screen ($small-tablet) {
          display:none;
      }
      @include landscape (700px) {
          top: 30vh;
      }
  }

  .jobContainer {
      height: 40vh;
      width: 100%;
      position: relative;
      z-index: 2;
      opacity: 1 !important;
      display:flex;
      flex: {
          wrap:wrap;
          direction: column;
      }
      justify-content: center;
      @include max-screen ($small-tablet) {
          height: auto;
          margin: 65px 0 65px;
      }
  }

  .jobLink {
      color: hsla(0,0%,100%, .5);
      width: 96%;
      padding-left: 4%;
      font: {
          size: 70px;
          weight: 700 !important;
      }
      text-align: left;
      z-index: 2;
      outline: 0;
      transition: all 1s;
      @include max-screen ($m-tablet) {
            font-size:25px;
      }
      @include max-screen ($small-tablet) {
            padding:0;
      }
      &:hover {
            color: hsla(0, 0%, 100%, .8);
      }
      .jobTitle {
            @include max-screen ($m-tablet) {
                margin:2% 0 0 2%;
            }
            @include max-screen ($small-tablet) {
                margin:0 0 0 6%;
            }
            @include max-screen ($phone) {
                margin:0 0 0 10%;
            }
            @include max-screen ($small-phone) {
                margin: 5% 0 0 15%;
            }
      }
      .number {
          width: 2%;
          border: none;
          opacity: .7;
          background: none;
          font: {
              size: 21px;
              weight: 400 !important;
          }
          color: #fff;
          position: absolute;
          margin: -2% 0 0 -2%;
          @include max-screen ($small-tablet) {
                margin: -7% 0 0 0;
          }
      }
  }

  .Text {
      padding:0;
      line-height:80px;
      text-align: left;
      font: {
          size: 3.85vw;
          weight: 700 !important;
      }
      color: #fff;
      @include max-screen ($small-tablet) {
          line-height: 50px;
      }
      @include max-screen ($phone) {
          font-size:25px;
          line-height:30px;
      }
  }

  .aboutJText {
      @extend .Text;
      margin: 100px 0;
      @include max-screen ($small-tablet) {
          margin: 50px 0;
      }
  }

  .cvText {
      @extend .Text;
      margin: 50px 0 100px 0;
      .blueT {
          color: $primary-color;
      }
  }

  .backFoto {
      background: url(../assets/img/vyras.png) fixed no-repeat;
      background-size:cover;
      width:100%;
      height:110vh;
      position:absolute;
      top:0;
      left:0;
      min-width: 100%;
      min-height: 100%;
      @include max-screen ($small-tablet) {
          background: {
            position: 70% !important;
            size:240%;
            attachment: scroll;
          }
      }
      @include max-screen ($phone) {
          background: {
              size:350%;
              attachment: scroll;
          }
      }
     @include phone {
          background-size:120% !important;
      }
  }

  .hiringText_career {
      width: 100%;
      height: auto;
      align-items:flex-start;
      padding: 0 5%;
      margin-top: 5vh;
      display:flex;
      flex-direction: column;
  }

  #offSection {
      background-color: $primary-color;
      height: auto;
      width: 100%;
      padding: 7%;
      @include max-screen ($phone) {
          padding:7% 5%;
      }
      .redT {
          color: $second-color;
      }
  }

  #cvSection {
      background-color: $third-color;
      height: auto;
      width: 100%;
      padding: 7% 11%;
      @include max-screen ($phone) {
            padding:7% 5%;
      }
      .info{
          font-size:23px;
          @include max-screen ($phone) {
              font-size:17px;
          }
      }
  }

  .career-subscribe {
      width:690px;
      @include max-screen ($small-tablet) {
          width:320px;
      }
      @include max-screen ($phone) {
           width:288px;
      }
      @include max-screen ($small-phone) {
            width:280px;
      }
      .gr {
          width:690px;
          display:inline-block;
          height:50px;
          @include max-screen ($small-tablet) {
              width:320px;
          }
          @include max-screen ($small-phone) {
              width:280px;
          }
      }
      .subscribeRow{
          width:690px;
          display:block;
          @include max-screen ($small-tablet) {
              width:320px;
          }
          @include max-screen ($phone) {
              margin-left:50px;
          }
          @include max-screen ($small-phone) {
              width:280px;
              margin-left:20px;
          }
      }
      .sending {
          top: 170px;
      }

      #formEmail {
          border: {
              style: none none solid;
              color:rgba(255, 255, 255, 0.5);
          }
          padding:0;
          width:100%;
      }

      #formSubmit {
          width:100%;
          color: $second-color;
          &:hover {
              opacity: 0.7;
              border: 2px solid rgba(255, 255, 255, 0.5);
              transition: all 0.5s ease;
          }
      }
  }