#firstSection_career {
  background: #441587;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#hiringContainer {
  position: relative;
  height: 110vh;
  padding: 5.933vh 9%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 599px) {
  #hiringContainer {
    padding: 4.445vh 5%;
  }
}

#main-container_career {
  width: 100%;
  margin: 150px 0;
  z-index: 1;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #main-container_career {
    margin-top: 50px;
  }
}
@media only screen and (max-height: 700px) and (orientation: landscape) {
  #main-container_career {
    margin: 50px;
  }
}
#main-container_career .title {
  color: #FC2E6A;
  font-size: 7.6345vw;
  font-weight: 700;
  margin: 0;
  margin-bottom: 100px !important;
  justify-content: start;
}
@media screen and (max-width: 599px) {
  #main-container_career .title {
    font-size: 30px;
    margin: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #main-container_career .title {
    margin-bottom: 0 !important;
  }
}
#main-container_career .subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  justify-content: start;
}
@media screen and (max-width: 899px) {
  #main-container_career .subtitle {
    font-size: 17px;
    letter-spacing: 0 !important;
  }
}

.cursor {
  width: 80px;
  height: 1vh;
  position: fixed;
  left: 0;
  top: 50vh;
  opacity: 0.5;
  z-index: 2;
  display: block;
}
@media screen and (max-width: 899px) {
  .cursor {
    display: none;
  }
}
@media only screen and (max-height: 700px) and (orientation: landscape) {
  .cursor {
    top: 30vh;
  }
}

.jobContainer {
  height: 40vh;
  width: 100%;
  position: relative;
  z-index: 2;
  opacity: 1 !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  .jobContainer {
    height: auto;
    margin: 65px 0 65px;
  }
}

.jobLink {
  color: rgba(255, 255, 255, 0.5);
  width: 96%;
  padding-left: 4%;
  font-size: 70px;
  font-weight: 700 !important;
  text-align: left;
  z-index: 2;
  outline: 0;
  transition: all 1s;
}
@media screen and (max-width: 1200px) {
  .jobLink {
    font-size: 25px;
  }
}
@media screen and (max-width: 899px) {
  .jobLink {
    padding: 0;
  }
}
.jobLink:hover {
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1200px) {
  .jobLink .jobTitle {
    margin: 2% 0 0 2%;
  }
}
@media screen and (max-width: 899px) {
  .jobLink .jobTitle {
    margin: 0 0 0 6%;
  }
}
@media screen and (max-width: 599px) {
  .jobLink .jobTitle {
    margin: 0 0 0 10%;
  }
}
@media screen and (max-width: 420px) {
  .jobLink .jobTitle {
    margin: 5% 0 0 15%;
  }
}
.jobLink .number {
  width: 2%;
  border: none;
  opacity: 0.7;
  background: none;
  font-size: 21px;
  font-weight: 400 !important;
  color: #fff;
  position: absolute;
  margin: -2% 0 0 -2%;
}
@media screen and (max-width: 899px) {
  .jobLink .number {
    margin: -7% 0 0 0;
  }
}

.Text, .cvText, .aboutJText {
  padding: 0;
  line-height: 80px;
  text-align: left;
  font-size: 3.85vw;
  font-weight: 700 !important;
  color: #fff;
}
@media screen and (max-width: 899px) {
  .Text, .cvText, .aboutJText {
    line-height: 50px;
  }
}
@media screen and (max-width: 599px) {
  .Text, .cvText, .aboutJText {
    font-size: 25px;
    line-height: 30px;
  }
}

.aboutJText {
  margin: 100px 0;
}
@media screen and (max-width: 899px) {
  .aboutJText {
    margin: 50px 0;
  }
}

.cvText {
  margin: 50px 0 100px 0;
}
.cvText .blueT {
  color: #441587;
}

.backFoto {
  background: url(../assets/img/vyras.png) fixed no-repeat;
  background-size: cover;
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
@media screen and (max-width: 899px) {
  .backFoto {
    background-position: 70% !important;
    background-size: 240%;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 599px) {
  .backFoto {
    background-size: 350%;
    background-attachment: scroll;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  .backFoto {
    background-size: 120% !important;
  }
}

.hiringText_career {
  width: 100%;
  height: auto;
  align-items: flex-start;
  padding: 0 5%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

#offSection {
  background-color: #441587;
  height: auto;
  width: 100%;
  padding: 7%;
}
@media screen and (max-width: 599px) {
  #offSection {
    padding: 7% 5%;
  }
}
#offSection .redT {
  color: #FC2E6A;
}

#cvSection {
  background-color: #E33466;
  height: auto;
  width: 100%;
  padding: 7% 11%;
}
@media screen and (max-width: 599px) {
  #cvSection {
    padding: 7% 5%;
  }
}
#cvSection .info {
  font-size: 23px;
}
@media screen and (max-width: 599px) {
  #cvSection .info {
    font-size: 17px;
  }
}

.career-subscribe {
  width: 690px;
}
@media screen and (max-width: 899px) {
  .career-subscribe {
    width: 320px;
  }
}
@media screen and (max-width: 599px) {
  .career-subscribe {
    width: 288px;
  }
}
@media screen and (max-width: 420px) {
  .career-subscribe {
    width: 280px;
  }
}
.career-subscribe .gr {
  width: 690px;
  display: inline-block;
  height: 50px;
}
@media screen and (max-width: 899px) {
  .career-subscribe .gr {
    width: 320px;
  }
}
@media screen and (max-width: 420px) {
  .career-subscribe .gr {
    width: 280px;
  }
}
.career-subscribe .subscribeRow {
  width: 690px;
  display: block;
}
@media screen and (max-width: 899px) {
  .career-subscribe .subscribeRow {
    width: 320px;
  }
}
@media screen and (max-width: 599px) {
  .career-subscribe .subscribeRow {
    margin-left: 50px;
  }
}
@media screen and (max-width: 420px) {
  .career-subscribe .subscribeRow {
    width: 280px;
    margin-left: 20px;
  }
}
.career-subscribe .sending {
  top: 170px;
}
.career-subscribe #formEmail {
  border-style: none none solid;
  border-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  width: 100%;
}
.career-subscribe #formSubmit {
  width: 100%;
  color: #FC2E6A;
}
.career-subscribe #formSubmit:hover {
  opacity: 0.7;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}

/*# sourceMappingURL=careerFull.css.map */
