#firstSection_career_empty {
  background: linear-gradient(142deg, #441587, #FC2E6A 45%);
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#hiringContainer_empty {
  position: relative;
  height: auto;
  padding: 5.933vh 9%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 599px) {
  #hiringContainer_empty {
    padding: 4.445vh 5%;
  }
}

.Text_empty, .cvText_empty, .aboutJText_empty {
  padding: 0;
  line-height: 80px;
  text-align: left;
  font-size: 3.85vw;
  font-weight: 700 !important;
}
@media screen and (max-width: 599px) {
  .Text_empty, .cvText_empty, .aboutJText_empty {
    font-size: 25px;
    line-height: 30px;
    margin: 40px 0 80px 0;
  }
}

.aboutJText_empty {
  margin: 100px 0;
}
@media screen and (max-width: 899px) {
  .aboutJText_empty {
    line-height: 50px;
  }
}

.cvText_empty {
  margin: 20px 0 100px 0;
}
@media screen and (max-width: 899px) {
  .cvText_empty {
    line-height: 50px;
  }
}
.cvText_empty .blueT {
  color: #441587;
}

#offSection_empty {
  background-color: #441587;
  height: auto;
  width: 100%;
  padding: 7%;
}
@media screen and (max-width: 599px) {
  #offSection_empty {
    padding: 7% 5%;
  }
}
#offSection_empty .redT {
  color: #FC2E6A;
}

#cvSection_empty {
  height: auto;
  width: 100%;
  padding: 10% 0;
}
@media screen and (max-width: 899px) {
  #cvSection_empty {
    padding: 15% 0 0 0;
  }
}
@media screen and (max-width: 599px) {
  #cvSection_empty {
    padding: 20% 0 0 0;
  }
}
#cvSection_empty .info {
  font-size: 23px;
}
@media screen and (max-width: 599px) {
  #cvSection_empty .info {
    font-size: 17px;
  }
}

/*# sourceMappingURL=careerEmpty.css.map */
