@import "../css/variables";
@import "../css/mediaQueries";

#firstSection_contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: linear-gradient(142deg, $second-color, $primary-color 45%), $fourth-color;
}
#container_contact {
    height: 75vh;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
    @include landscape (760px) {
        height:100vh;
    }
}

#mcontainer_contact {
    position: absolute;
    height: 75vh;
    padding: 5.933vh 9%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    @include landscape (760px) {
        height:100vh;
    }
    @include max-screen ($phone) {
        padding: 3vh 5%;
    }
}

#aboutText_contact {
    font: {
        size: 2.39vw;
        weight: 700 !important;
    }
    line-height: 69px;
    padding: 0;
    text-align: center;
    margin-top:100px;
    @include max-screen ($small-tablet) {
        line-height: 40px;
        font: {
            size:20px;
            weight: 700 !important;
        }
    }
    @include max-screen ($phone) {
        line-height: 30px;
        font: {
            size:15px;
            weight: 700 !important;
        }
    }
    @include landscape (760px) {
        margin-top:50px;
    }
}

.cont {
    height:100%;
    width: 100%;
    text-align:center;
    display:flex;
    flex: {
        wrap: wrap;
        direction: column;
    }
}

#contact{
    @extend .cont;
    margin:20vh 0;
}

#location{
    @extend .cont;
    margin: 0;
    position: absolute;
    top:50%;
}

#main-container_contact {
    width: 85%;
    height: 52vh;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.information {
    width: 100%;
    height: auto;
    font: {
        size: 28px;
        weight: 700;
    }
    margin-bottom:25px;
    @include max-screen ($phone) {
        font-size: 17px;
    }
    @include small-phone {
      font-size: 17px;
    }
}

.city {
    @extend .information;
    margin-top:25px;
}

.pointer{
    margin-bottom:60px;
    @include max-screen ($small-tablet) {
            height:15%;
            margin-bottom: 40px;
    }
    @include max-screen ($phone) {
            height:12%;
            margin-bottom:20px;
    }
    @include landscape (1025px) {
            height:12%;
            margin-bottom:20px;
    }
}

.requisites, .address {
    width: 100%;
    height: auto;
    font: {
        size: 21px;
        weight: 400;
    }
    line-height: 35px;
    white-space: pre-line;
    @include max-screen ($phone) {
            font-size: 14px;
            line-height: 24px;
    }
    @include small-phone {
            font-size: 14px;
            line-height: 24px;
    }
}
#mapContainer{
    width:100%;
    height:auto;
    position:relative;
    text-align:center;
    display:flex;
    flex-direction: column;
}

.buttonContainer{
    max-width:750px;
    padding:50px;
    display:flex;
    justify-content: center;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    @include max-screen ($phone) {
            flex-direction:column;
            padding:90px 25px;
    }
}

.mapButton {
    border: 1px solid #ffffff;
    text-decoration: none;
    font: {
        weight: 700 !important;
        size:16px;
    }
    display: block;
    margin:0;
    cursor: pointer;
    width: 350px;
    height: 56px;
    z-index:2;
    @include max-screen ($small-tablet) {
        width:250px;
    }
    @include max-screen ($phone) {
        font-size:14px;
    }
}

.white {
    background-color: #ffffff;
    color: $primary-color;
    cursor: auto;
}

.transparent {
    background-color: transparent;
    color: #ffffff;
    &:hover, &:active, &:link, &:visited {
        opacity:.7;
    }
}

.leftButton {
    border: {
        top-left-radius:28px;
        bottom-left-radius:28px;
    }
    @media screen and (max-width: 599px) {
        border: {
            top-left-radius:28px;
            top-right-radius:28px;
            bottom-left-radius:0;
        }
    }
}
.rightButton {
    border: {
        top-right-radius:28px;
        bottom-right-radius:28px;
    }
    @media screen and (max-width: 599px) {
        border: {
            bottom-left-radius:28px;
            bottom-right-radius:28px;
            top-right-radius:0;
        }
    }
}

.travel-map {
    height: 80vh;
    @include small-phone {
        height: 110vh;
    }
}