#firstSection_contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: linear-gradient(142deg, #FC2E6A, #441587 45%), #8A2BE2;
}

#container_contact {
  height: 75vh;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-height: 760px) and (orientation: landscape) {
  #container_contact {
    height: 100vh;
  }
}

#mcontainer_contact {
  position: absolute;
  height: 75vh;
  padding: 5.933vh 9%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media only screen and (max-height: 760px) and (orientation: landscape) {
  #mcontainer_contact {
    height: 100vh;
  }
}
@media screen and (max-width: 599px) {
  #mcontainer_contact {
    padding: 4.445vh 5%;
  }
}

#aboutText_contact {
  font-size: 2.39vw;
  font-weight: 700 !important;
  line-height: 69px;
  padding: 0;
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-width: 899px) {
  #aboutText_contact {
    line-height: 40px;
    font-size: 20px;
    font-weight: 700 !important;
  }
}
@media screen and (max-width: 599px) {
  #aboutText_contact {
    line-height: 30px;
    font-size: 15px;
    font-weight: 700 !important;
  }
}
@media only screen and (max-height: 760px) and (orientation: landscape) {
  #aboutText_contact {
    margin-top: 50px;
  }
}

.cont, #location, #contact {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#contact {
  margin: 20vh 0;
}

#location {
  margin: 0;
  position: absolute;
  top: 50%;
}

#main-container_contact {
  width: 85%;
  height: 52vh;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.information, .city {
  width: 100%;
  height: auto;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media screen and (max-width: 599px) {
  .information, .city {
    font-size: 17px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 760px) and (orientation: landscape) {
  .information, .city {
    font-size: 17px;
  }
}

.city {
  margin-top: 25px;
}

.pointer {
  margin-bottom: 60px;
}
@media screen and (max-width: 899px) {
  .pointer {
    height: 15%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 599px) {
  .pointer {
    height: 12%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-height: 1025px) and (orientation: landscape) {
  .pointer {
    height: 12%;
    margin-bottom: 20px;
  }
}

.requisites, .address {
  width: 100%;
  height: auto;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  white-space: pre-line;
}
@media screen and (max-width: 599px) {
  .requisites, .address {
    font-size: 14px;
    line-height: 24px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 760px) and (orientation: landscape) {
  .requisites, .address {
    font-size: 14px;
    line-height: 24px;
  }
}

#mapContainer {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  max-width: 750px;
  padding: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 599px) {
  .buttonContainer {
    flex-direction: column;
    padding: 90px 25px;
  }
}

.mapButton {
  border: 1px solid #ffffff;
  text-decoration: none;
  font-weight: 700 !important;
  font-size: 16px;
  display: block;
  margin: 0;
  cursor: pointer;
  width: 350px;
  height: 56px;
  z-index: 2;
}
@media screen and (max-width: 899px) {
  .mapButton {
    width: 250px;
  }
}
@media screen and (max-width: 599px) {
  .mapButton {
    font-size: 14px;
  }
}

.white {
  background-color: #ffffff;
  color: #441587;
  cursor: auto;
}

.transparent {
  background-color: transparent;
  color: #ffffff;
}
.transparent:hover, .transparent:active, .transparent:link, .transparent:visited {
  opacity: 0.7;
}

.leftButton {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}
@media screen and (max-width: 599px) {
  .leftButton {
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 0;
  }
}

.rightButton {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}
@media screen and (max-width: 599px) {
  .rightButton {
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 0;
  }
}

.travel-map {
  height: 80vh;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 760px) and (orientation: landscape) {
  .travel-map {
    height: 110vh;
  }
}

/*# sourceMappingURL=contactUs.css.map */
