@import "../css/variables";
@import "../css/mediaQueries";

#firstSection {
    background: linear-gradient(142deg, $second-color, $primary-color 45%), $fourth-color;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;

    @include max-screen ($small-phone) {
        height:90vh;
    }

}
#logo{
    background: url(../assets/img/line.png) no-repeat 50%;
    background: {
        position-x: center;
        position-y: center;
        size: cover;
    }
    width: 100%;
    height: 95%;
    margin-top: 75px;
    position: absolute;
    z-index: 1;
    display:flex;

    @include min-screen($middle-desktop) {
        //margin-top: 100px;
        //height: 100%;
        //background-position-y: 38%;
        margin-top: 10px;
        height: 98%;
        background-position-y: 38%;
    }
    @include max-screen ($tablet) {
        margin-top: 32px;
        background-position: top;
    }
    @include max-screen ($phone) {
        background-size: 110% 60% !important;
        margin-top: 15vh;
    }
    @include phone {
        height: 110%;
        margin-top: 0;
    }
    @include max-screen ($small-phone) {
        background: url(../assets/img/line_mobile.png) no-repeat;
        background-size: 100% !important;
        margin-top: 0;
    }

}
#mcontainer {
    position: absolute;
    height: 100vh;
    padding: 5.933vh 9%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;

    @include max-screen ($phone) {
            height: auto;
            padding: 3vh 5%;
    }
}

#main-container {
    width: 79%;
    height: 52vh;
    margin: 0 auto;
    padding-top: 10%;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;

    @include max-screen ($tablet) {
            height: 65vh;
            width:100%;
            padding-top: 15%;
    }
    @include max-screen ($small-tablet) {
            height: 52vh;
            padding-top: 25%;
    }
    @include max-screen ($phone) {
        height: 55vh;
        padding-top: 23vh;
    }

    @include phone {
        padding-top:10%;
    }

    .subtitle {
        text-transform: uppercase;
        letter-spacing: 36px;
        @include max-screen ($small-tablet) {
                font-size: 16px;
                letter-spacing: 8px !important;
        }
    }
}

#bottom {
    width: 100%;
    height: 7.223vh;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    @include max-screen ($tablet) {
       height: 17.22vh;
    }
    @include max-screen ($small-tablet) {
        justify-content: space-between;
    }
    @include max-screen ($phone) {
        height: auto;
    }
}

#scroll {
    position: absolute;
    display:flex;
    align-self: flex-end;
    @include max-screen ($small-tablet) {
        display: none;
    }
}

#scroll-down {
    height: auto;
    width: 52%;
    display:flex;
    @include max-screen ($small-tablet) {
        display: none;
    }
}

#contacts {
    width: 38%;
    font: {
        size: 13px;
        weight: 500;
    }
    line-height: 35px;
    flex-wrap: wrap;
    height: auto;
    display:flex;
    justify-content: flex-end;
    @include max-screen ($small-tablet) {
        width: 58%;
    }
    @include max-screen ($phone) {
            width: 100%;
            justify-content: center;
            align-items: flex-start;
    }
}
.contact-container {
    height: auto;
    display:flex;
    justify-content: flex-end;
    @include max-screen ($phone) {
            flex-direction: column;
            align-items: flex-start;
    }
    .line {
        max-width: 50px;
        width: 100%;
        margin: 0 25px;
        @include max-screen ($phone) {
                order: 2;
                margin: 0;
                width: 1px;
                align-self: center;
        }
    }
    .horizontal {
        @include max-screen ($phone) {
            display: none;
        }
    }
    .vertical {
        display: none;
        @include max-screen ($phone) {
            display: flex !important;
        }
    }
    #email {
        display:flex;
        justify-content: flex-end;
        @include max-screen ($phone) {
            width: 100%;
            justify-content: center;
            order: 1;
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                opacity:0.7;
            }
        }
    }
    #number {
        justify-content: flex-start;
        display:flex;
        @include max-screen ($phone) {
                width: 100%;
                order: 3;
                justify-content: center;
        }
    }
}

#aboutSec {
    height: 80vh;
    width: 100%;
    display:flex;
    align-items: center;
    @include max-screen ($small-tablet) {
        height:50vh;
    }
    @include max-screen ($small-phone) {
        height:65vh;
    }
}

#aboutText, #hiringText {
    font: {
        size: 2.74vw;
        weight: 700 !important;
    }
    line-height: 69px;
    padding: 0 9%;
    text-align: center;
    @include max-screen ($l-tablet) {
            font-size: 2.78vw;
            line-height: 4.17vw;
            padding: 0 5.5%;
    }
    @include max-screen ($phone) {
            font-size: 20px;
            line-height: 30px;
            padding:0 5%;
    }
    .redT {
        color: $second-color;
    }
}

#secondSection, #hiringSection {
    padding: 0;
    width: 100%;
    background: $primary-color;
    height: auto;

    .title {
        z-index:2;
        position: relative;
    }
}

#picsContainer {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display:flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

.picsContainer-image {
    overflow: hidden;
    width:25%;
    position: relative;
    @include max-screen ($small-tablet){
        width:50%;
    }
    @include max-screen ($phone) {
        width:100%;
    }
    img {
        width:100%;
        height:100%;
    }
}

.picsContainer-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font: {
        size: 1.50vw;
        weight: 700 !important;
    }
    line-height: 2.188vw;
    padding: 0 9%;
    text-align: left;
    margin: auto 0;
    height:auto;
    @include max-screen ($small-tablet) {
            font-size: 20px;
            line-height: 35px;
    }
    @include max-screen ($phone) {
        line-height: 35px;
        padding: 0 7.8%;
        font: {
            size: 25px;
            weight: 700 !important;
        }
    }
    @include max-screen ($small-phone) {
        line-height: 28px;
        padding: 0 7.8%;
        font: {
            size: 17px;
            weight: 700 !important;
        }
    }
}

.row {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.whiteButton {
    border: 1px solid #ffffff;
    border-radius: 28px;
    text-decoration: none;
    font: {
        weight: 700 !important;
        size:16px;
    }
    display: block;
    margin:0 auto;
    cursor: pointer;
    background-color: #ffffff;
    color: $primary-color;
    width: 410px;
    height: 56px;
    position: relative;
    z-index:3;

    @include max-screen ($phone) {
            width: 270px;
            height: 48px;
    }
    &:hover, &:active, &:link, &:visited {
        background:transparent;
        color: #ffffff;
    }
}

#thirdSection {
    padding: 9% 0;
    width: 100%;
    background: $primary-color;
    height: auto;
    @include max-screen ($phone) {
        padding: 25% 5%;
    }
    .title {
       text-align: left;
        @include phone {
            margin-bottom:50px !important;
        }
    }
    .whiteButton {
        @include phone {
            margin-top: 50px;
        }
    }
}

#icoContainer {
    width: 100%;
    height: auto;
    padding: 100px;
    display:flex;
    align-items: center;
    @include max-screen ($small-tablet) {
        padding: 0;
    }
    @include max-screen ($phone) {
        margin: 10px 0;
    }
}
.rowIcons {
    display:flex;
    flex-flow:wrap;
    align-content: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    @include max-screen ($small-tablet) {
        justify-content: flex-start;
    }
    .icon {
        width: 30%;
        height: auto;
        margin: auto;
        padding: 4vh 0;
        justify-content: center;
        @include max-screen ($small-tablet) {
            width: 40%;
        }
        &.icon:nth-of-type(2) {
            padding:2vh 0;
            img {
                max-width: 280px;
            }
        }
        &.icon:last-of-type {
            margin-right:35% !important;
            @include max-screen ($small-tablet) {
                margin-right:5% !important;
            }
        }
        &.icon:nth-of-type(4) {
            @include max-screen ($small-phone) {
                img {
                    max-width: 90px;
                }
            }
        }
        img {
            max-width: 225px;
            display:flex;
            @include max-screen ($small-tablet) {
                    max-width: 100%;
                    display:flex;
            }
        }
    }
}

.subscribe {padding:100px 0;}

.mark {
    margin-right:20px;
    @include max-screen ($phone) {
        margin-right:15px;
    }
    @include max-screen ($small-phone) {
        margin-right:10px;
    }
}

.title {
    @include max-screen ($phone) {
            font-size: 40px;
            line-height: 1.5;
    }
    @include max-screen ($small-phone) {
        font-size: 35px;
        line-height: 1.5;
    }
}

.expertise-wrapper {
    display: flex;
    justify-content: space-between;
    z-index:2;
    position: relative;
    width: 70%;
    margin:0 auto 150px auto;

    @include max-screen($tablet) {
        width: 80%;
    }
    @include max-screen($phone) {
        flex-direction: column;
        margin: 0 auto 100px auto;
    }

    .h3 {
        font-size: 5vw;
        line-height: 7.8vw;
        font-weight: bold;

        @include max-screen($phone) {
            font-size: 30px;
            line-height: 1.5;
        }
    }

    .expertise-body {
        padding-top: 30px;

        .expertise-element {
            margin-bottom: 90px;

            @include max-screen($phone) {
                margin-bottom: 70px;
            }

            .element-title {
                display: flex;
                margin-bottom: 12px;

                img {
                    margin-right: 24px;
                }
                span {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 54px;
                    color: $second-color;

                    @include max-screen($phone) {
                        font-size: 20px;
                        line-height: 35px;
                    }
                }
            }

            p {
                width: 500px;
                text-align: justify;

                @include max-screen($m-tablet) {
                    width: 400px;
                }
                @include max-screen($small-tablet) {
                    width: 300px;
                }
            }
        }
        .last-element {
            margin-bottom: 0;
        }
    }
}

#logo2{
    background: url(../assets/img/line2.png) no-repeat;
    background: {
        position-x: left;
        position-y: center;
        size: contain;
    }
    width: 75%;
    height: 80%;
    position: absolute;
    z-index: 1;
    display:flex;
    bottom:-430px;

    @include min-screen ($middle-desktop) {
        background-size: 60%;
    }
    @include max-screen ($tablet) {
        height: 70%;
    }
    @include max-screen ($small-tablet) {
        height: 60%;
    }
    @include max-screen ($phone) {
        width: 90%;
    }
    @include phone {
        height: 60%;
    }
    @include max-screen ($small-phone) {
        width: 90%;
        height: 50%;
    }
}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top:10px;

    @include max-screen ($phone) {
        position: relative !important;
    }
}
.relative {
    position: relative;
}
.fixed {
    position: fixed !important;
}