#firstSection {
  background: linear-gradient(142deg, #FC2E6A, #441587 45%), #8A2BE2;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

#logo {
  background: url(../assets/img/logo.png) no-repeat 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: contain;
  width: 100%;
  height: 90%;
  margin-top: 75px;
  position: absolute;
  z-index: 1;
  display: flex;
}
@media screen and (max-width: 1280px) {
  #logo {
    margin-top: 32px;
    background-position: top;
  }
}
@media screen and (max-width: 420px) {
  #logo {
    background-size: 80% 50% !important;
  }
}

#mcontainer {
  position: absolute;
  height: 100vh;
  padding: 5.933vh 9%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 599px) {
  #mcontainer {
    height: auto;
    padding: 4.445vh 5%;
  }
}

#main-container {
  width: 79%;
  height: 52vh;
  margin: 0 auto;
  padding-top: 10%;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}
@media screen and (max-width: 1280px) {
  #main-container {
    height: 65vh;
    width: 100%;
    padding-top: 15%;
  }
}
@media screen and (max-width: 899px) {
  #main-container {
    height: 52vh;
    padding-top: 30%;
  }
}
@media screen and (max-width: 599px) {
  #main-container {
    height: 42vh;
  }
}
@media screen and (max-width: 420px) {
  #main-container {
    padding-top: 22%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #main-container {
    padding-top: 10%;
  }
}
#main-container .subtitle {
  text-transform: uppercase;
  letter-spacing: 36px;
}
@media screen and (max-width: 899px) {
  #main-container .subtitle {
    font-size: 13px;
    letter-spacing: 8px !important;
  }
}

#bottom {
  width: 100%;
  height: 7.223vh;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 1280px) {
  #bottom {
    height: 17.22vh;
  }
}
@media screen and (max-width: 899px) {
  #bottom {
    justify-content: space-between;
  }
}
@media screen and (max-width: 599px) {
  #bottom {
    height: auto;
  }
}

#scroll {
  position: absolute;
  display: flex;
  align-self: flex-end;
}
@media screen and (max-width: 899px) {
  #scroll {
    display: none;
  }
}

#scroll-down {
  height: auto;
  width: 52%;
  display: flex;
}
@media screen and (max-width: 899px) {
  #scroll-down {
    display: none;
  }
}

#contacts {
  width: 38%;
  font-size: 13px;
  font-weight: 500;
  line-height: 35px;
  flex-wrap: wrap;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 899px) {
  #contacts {
    width: 58%;
  }
}
@media screen and (max-width: 599px) {
  #contacts {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
}

.contact-container {
  height: auto;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 599px) {
  .contact-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-container .line {
  max-width: 50px;
  width: 100%;
  margin: 0 25px;
}
@media screen and (max-width: 599px) {
  .contact-container .line {
    order: 2;
    margin: 0;
    width: 1px;
    align-self: center;
  }
}
@media screen and (max-width: 599px) {
  .contact-container .horizontal {
    display: none;
  }
}
.contact-container .vertical {
  display: none;
}
@media screen and (max-width: 599px) {
  .contact-container .vertical {
    display: flex !important;
  }
}
.contact-container #email {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 599px) {
  .contact-container #email {
    width: 100%;
    justify-content: center;
    order: 1;
  }
}
.contact-container #email a {
  color: #fff;
  text-decoration: none;
}
.contact-container #email a:hover {
  opacity: 0.7;
}
.contact-container #number {
  justify-content: flex-start;
  display: flex;
}
@media screen and (max-width: 599px) {
  .contact-container #number {
    width: 100%;
    order: 3;
    justify-content: center;
  }
}

#aboutSec {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 899px) {
  #aboutSec {
    height: 50vh;
  }
}
@media screen and (max-width: 420px) {
  #aboutSec {
    height: 80vh;
  }
}

#aboutText, #hiringText {
  font-size: 2.74vw;
  font-weight: 700 !important;
  line-height: 69px;
  padding: 0 9%;
  text-align: center;
}
@media screen and (max-width: 1366px) {
  #aboutText, #hiringText {
    font-size: 2.78vw;
    line-height: 4.17vw;
    padding: 0 5.5%;
  }
}
@media screen and (max-width: 599px) {
  #aboutText, #hiringText {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding: 0 5%;
  }
}
#aboutText .redT, #hiringText .redT {
  color: #FC2E6A;
}

#secondSection, #hiringSection {
  padding: 0;
  width: 100%;
  background: #441587;
  height: auto;
}

#picsContainer {
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.picsContainer-image {
  overflow: hidden;
  width: 25%;
  position: relative;
}
@media screen and (max-width: 899px) {
  .picsContainer-image {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .picsContainer-image {
    width: 100%;
  }
}
.picsContainer-image img {
  width: 100%;
  height: 100%;
}

.picsContainer-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5vw;
  font-weight: 700 !important;
  line-height: 2.188vw;
  padding: 0 9%;
  text-align: left;
  margin: auto 0;
  height: auto;
}
@media screen and (max-width: 899px) {
  .picsContainer-text {
    font-size: 20px;
    line-height: 35px;
  }
}
@media screen and (max-width: 599px) {
  .picsContainer-text {
    line-height: 35px;
    padding: 0 7.8%;
    font-size: 25px;
    font-weight: 700 !important;
  }
}
@media screen and (max-width: 420px) {
  .picsContainer-text {
    line-height: 28px;
    padding: 0 7.8%;
    font-size: 17px;
    font-weight: 700 !important;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.whiteButton {
  border: 1px solid #ffffff;
  border-radius: 28px;
  text-decoration: none;
  font-weight: 700 !important;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: #ffffff;
  color: #441587;
  width: 410px;
  height: 56px;
}
@media screen and (max-width: 599px) {
  .whiteButton {
    width: 270px;
    height: 48px;
  }
}
.whiteButton:hover, .whiteButton:active, .whiteButton:link, .whiteButton:visited {
  background: transparent;
  color: #ffffff;
}

#thirdSection {
  padding: 9% 0;
  width: 100%;
  background: #441587;
  height: auto;
}
@media screen and (max-width: 599px) {
  #thirdSection {
    padding: 25% 5%;
  }
}
#thirdSection .title {
  text-align: left;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #thirdSection .title {
    margin-bottom: 50px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 825px) and (orientation: landscape) {
  #thirdSection .whiteButton {
    margin-top: 50px;
  }
}

#icoContainer {
  width: 100%;
  height: auto;
  padding: 100px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 899px) {
  #icoContainer {
    padding: 0;
  }
}
@media screen and (max-width: 599px) {
  #icoContainer {
    margin: 10px 0;
  }
}

.rowIcons {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 899px) {
  .rowIcons {
    justify-content: flex-start;
  }
}
.rowIcons .icon {
  width: 30%;
  height: auto;
  margin: auto;
  padding: 4vh 0;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  .rowIcons .icon {
    width: 40%;
  }
}
.rowIcons .icon.icon:nth-of-type(2) {
  padding: 2vh 0;
}
.rowIcons .icon.icon:nth-of-type(2) img {
  max-width: 280px;
}
.rowIcons .icon.icon:last-of-type {
  margin-right: 35% !important;
}
@media screen and (max-width: 899px) {
  .rowIcons .icon.icon:last-of-type {
    margin-right: 5% !important;
  }
}
@media screen and (max-width: 420px) {
  .rowIcons .icon.icon:nth-of-type(4) img {
    max-width: 90px;
  }
}
.rowIcons .icon img {
  max-width: 225px;
  display: flex;
}
@media screen and (max-width: 899px) {
  .rowIcons .icon img {
    max-width: 100%;
    display: flex;
  }
}

.subscribe {
  padding: 100px 0;
}

.mark {
  margin-right: 20px;
}
@media screen and (max-width: 599px) {
  .mark {
    margin-right: 15px;
  }
}
@media screen and (max-width: 420px) {
  .mark {
    margin-right: 10px;
  }
}

@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 420px) {
  #container {
    height: 80vh;
  }
}

/*# sourceMappingURL=firstPage.css.map */
