.Row, .subscribeRow, .cvRow {
  height: 56px;
  display: flex;
  flex-wrap: nowrap;
  margin: 40px 0;
}

.cvRow {
  width: 690px;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 899px) {
  .cvRow {
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
    width: 320px;
  }
}
@media screen and (max-width: 599px) {
  .cvRow {
    width: 288px;
  }
}
.cvRow:last-of-type {
  margin: 60px 0 40px 0 !important;
}

.subscribeRow {
  width: 100%;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 899px) {
  .subscribeRow {
    display: block;
    width: 320px;
  }
}
@media screen and (max-width: 599px) {
  .subscribeRow {
    width: 288px;
  }
}

#subscribeForm {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}
@media screen and (max-width: 899px) {
  #subscribeForm {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
#subscribeForm input:invalid {
  border-bottom: 2px solid #FC2E6A;
}

#cvName, #cvEmail, #cvLastName, #cvPhone {
  width: 320px;
}
@media screen and (max-width: 599px) {
  #cvName, #cvEmail, #cvLastName, #cvPhone {
    width: 288px;
  }
}

#cvName {
  margin-right: 50px;
}

#cvMessage {
  width: 100%;
}
@media screen and (max-width: 599px) {
  #cvMessage {
    width: 288px;
  }
}

.drop-files {
  width: 100%;
  background: transparent;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
}

#cvSubmit, #formSubmit {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: #ffffff;
  color: #FC2E6A;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

#cvSubmit {
  width: 100%;
}
#cvSubmit:hover, #cvSubmit:active, #cvSubmit:link, #cvSubmit:visited {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #441587;
  transition: all 0.5s ease;
}

#formEmail {
  background-color: transparent;
  margin-right: 10px;
  width: 630px;
  padding: 0 5px;
}
@media screen and (max-width: 1025px) {
  #formEmail {
    width: 360px;
    margin-right: 20px;
  }
}

#formSubmit {
  width: 360px;
  font-weight: 600 !important;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  #formSubmit {
    font-size: 15px;
  }
}
#formSubmit:hover, #formSubmit:active, #formSubmit:link, #formSubmit:visited {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
}

#formSubmit, #formEmail {
  font-size: 16px;
  height: 52px;
  border: 2px solid white;
}
@media screen and (max-width: 899px) {
  #formSubmit, #formEmail {
    width: 320px;
    height: 56px;
    margin-right: 0;
  }
}
@media screen and (max-width: 599px) {
  #formSubmit, #formEmail {
    width: 288px;
    height: 48px;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  #cvForm .cvRow:nth-child(n+2), #cvFormFull .cvRow:nth-child(n+3) {
    margin: 0 0 50px 0;
  }
}

.gr {
  position: relative;
  margin-bottom: 45px;
}
@media screen and (max-width: 899px) {
  .gr {
    display: inline-block;
    height: 60px;
  }
}
@media screen and (max-width: 599px) {
  .gr {
    height: 40px;
  }
}
.gr label {
  width: 200px;
  top: 15px;
}
@media screen and (max-width: 599px) {
  .gr label {
    top: 12px;
  }
}

.group {
  width: 320px;
  position: relative;
  margin-bottom: 45px;
}
@media screen and (max-width: 899px) {
  .group {
    margin-bottom: 20px;
    height: 60px;
  }
}
@media screen and (max-width: 599px) {
  .group {
    width: 288px;
  }
}

.group-long {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
}

input {
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-family: Poppins, sans-serif;
  color: #ffffff;
  background: transparent;
}
input:invalid {
  box-shadow: none;
  border-bottom: 2px solid #441587;
}
input:focus {
  outline: none;
}

label {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 8px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label, .gr input:focus ~ .gr label, .gr input:not(:placeholder-shown) ~ .gr label {
  top: -25px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

.highlight, #subscribeForm .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.error {
  color: #441587;
  font-size: 14px;
  font-family: Poppins Regular, sans-serif;
}

#subscribeForm .error, .modal-form .error {
  color: #FC2E6A;
}

.sending {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 899px) {
  .sending {
    top: 200px;
  }
}

@media screen and (max-width: 420px) {
  .success-message {
    font-size: 15px;
  }
}

/*# sourceMappingURL=forms.css.map */
