@import "../css/variables";
@import "../css/mediaQueries";

.Row {
    height:56px;
    display:flex;
    flex-wrap:nowrap;
    margin: 40px 0;
}

.cvRow {
    @extend .Row;
    width:690px;
    justify-content:space-between;
    position:relative;
    @include max-screen ($small-tablet) {
            display:flex;
            margin-bottom:100px;
            flex-wrap:wrap;
            width:320px;
    }
    @include max-screen ($phone) {
            width: 288px;
    }
    &:last-of-type {
        margin: 60px 0 40px 0 !important
    }
}

.subscribeRow {
    @extend .Row;
    width:100%;
    justify-content:center;
    position:relative;
    @include max-screen ($small-tablet) {
        display:block;
        width: 320px;
    }
    @include max-screen ($phone) {
        width:288px;
    }
}

#subscribeForm {
    margin: 0 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    @include max-screen ($small-tablet) {
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
    }
    input:invalid {
        border-bottom:2px solid $second-color;
    }
}

#cvName, #cvEmail, #cvLastName, #cvPhone {
    width:320px;
    @include max-screen ($phone) {
        width:288px;
    }
}
#cvName {margin-right:50px;}

#cvMessage {
    width:100%;
    @include max-screen ($phone) {
        width:288px;
    }
}

.drop-files {
    width:100%;
    background: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
}

#cvSubmit, #formSubmit {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: #ffffff;
    color: $second-color;
    font: {
        size:16px;
        weight:700;
    }
    cursor: pointer;
}

#cvSubmit {
    width:100%;
    &:hover, &:active, &:link, &:visited {
        background:transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        color: $primary-color;
        transition: all 0.5s ease;
    }
}

#formEmail {
    background-color: transparent;
    margin-right: 10px;
    width: 630px;
    padding:0 5px;
    @include max-screen ($middle-tablet) {
            width:360px;
            margin-right: 20px;
    }
}

#formSubmit {
    width:360px;
    font-weight: 600 !important;
    cursor: pointer;
    @include max-screen ($phone) {
        font-size:15px;
    }
    &:hover, &:active, &:link, &:visited {
        background:transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s ease;
    }
}

#formSubmit, #formEmail {
    font-size:16px;
    height: 52px;
    border: 2px solid rgb(255, 255, 255);
    @include max-screen ($small-tablet) {
        width:320px;
        height: 56px;
        margin-right:0;
    }
    @include max-screen ($phone) {
        width: 288px;
        height: 48px;
        margin-right: 0;
    }
}

#cvForm .cvRow:nth-child(n+2), #cvFormFull .cvRow:nth-child(n+3) {
    @include max-screen ($small-tablet) {
            margin:0 0 50px 0;
    }
}

.gr{
    position: relative;
    margin-bottom:45px;
    @include max-screen ($small-tablet) {
            display:inline-block;
            height:60px;
    }
    @include max-screen ($phone) {
        height:40px;
    }
    label {
        width:200px;
        top:15px;
        @include max-screen ($phone) {
            top:12px;
        }
    }
}

.group {
    width:320px;
    position: relative;
    margin-bottom:45px;
    @include max-screen ($small-tablet) {
            margin-bottom:20px;
            height:60px;
    }
    @include max-screen ($phone) {
             width:288px;
    }
}

.group-long {
    position: relative;
    margin-bottom:45px;
    width:100%;
}

input {
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:2px solid rgba(255, 255, 255, 0.3);
    font: {
        size:18px;
        family: $family;
    }
    color:#ffffff;
    background:transparent;
    &:invalid {
        box-shadow:none;
        border-bottom:2px solid $primary-color;
    }
    &:focus {
        outline:none;
    }
}

label {
    color:#ffffff;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:8px;
    top:10px;
    -webkit-transition: 0.2s ease all;
    -moz-transition:0.2s ease all;
    -o-transition:0.2s ease all;
    transition:0.2s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label, .gr input:focus ~ .gr label, .gr input:not(:placeholder-shown) ~ .gr label {
    top:-25px;
    font-size:14px;
    color:#ffffff;
    opacity:0.5;
}

.highlight, #subscribeForm .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.error {
    color:$primary-color;
    font-size:14px;
    font-family: Poppins Regular,sans-serif;
}

#subscribeForm .error, .modal-form .error {color:$second-color;}

.sending {
    position:absolute;
    top: 70px;
    left:50%;
    transform: translateX(-50%);
    @include max-screen ($small-tablet) {
            top: 200px;
    }
}

.success-message {
    @include max-screen ($small-phone) {
        font-size:15px;
    }
}






