
@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}


@mixin phone
{
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 825px)
  and (orientation: landscape)
  {
    @content;
  }
}


@mixin small-phone
{
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 760px)
  and (orientation: landscape)
  {
    @content;
  }
}


@mixin landscape ($res)
{
  @media only screen
  and (max-height: $res)
  and (orientation: landscape)
  {
    @content;
  }
}

@mixin min-screen($res)
{
  @media screen and (min-width: $res)
  {
    @content;
  }
}
