<template>
  <div id="app">
    <cookie></cookie>
   <router-view/>
  </div>
</template>

<script>

  import cookie from '@/components/cookie.vue'

    export default {
      name: 'app',
      components: {
        cookie,
      }
    }
</script>
<style lang="scss">

    @mixin display-flex(){
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
        height: 100%;
        @include display-flex();
        background: #450c89;
        flex-wrap: wrap;
        align-items: flex-start;
    }



</style>